
/** LAPTOP & DESKTOPS SCREEN MEDIA QUERIES **/
@media (min-width:1367px) and (max-width:1440px){
  .contact-form textarea, .contact-form input[type="text"]{
        font-size: 13.5px;
    }
    .contact hr {
        margin-bottom: 10px;
    }
    .contact h2{
        font-size: 3em;
    }
    .contact{
        padding: 4em
    }
}
@media (min-width:1281px) and (max-width:1366px) {
    .contact-form input[type="text"], .contact-form textarea{
        font-size: 12.5px;
    }
    .contact hr {
        margin-bottom: 10px;
    }
    .contact h2{
        font-size: 3em;
    }
    .contact{
        padding:4em 0 0 0 ;
    }
}
@media (min-width:1081px) and (max-width:1280px){

  .contact{
    padding:4em 0 0 0 ;

  }
  .contact-form input[type="text"], .contact-form textarea {
      font-size: 12.5px;
    }
    .contact hr {
      margin-bottom: -20px;
    }
      .contact h2 {
          font-size: 3em;
      }
}
@media (min-width:1025px) and (max-width:1080px){
  .contact ul li, .contact-infom p, .address p{
    font-size: 1.1em;
  }
  .contact-form textarea, .contact-form input[type="text"] {
    font-size: 14.5px;
  }
  .contact-form .btn1{
    font-size: 1.1em;
    width: 15%;
  }
}
@media (min-width:992px) and (max-width:1024px){
  .contact ul li, .contact-infom p,.address p{
    font-size: 1.1em;
  }
  .contact-form textarea, .contact-form input[type="text"] {
    font-size: 14.5px;
  }
  .contact-form .btn1{
    font-size: 1.1em;
    width: 15%;
  }
}
@media (min-width:901px) and (max-width:991px){
  .contact ul li, .contact-infom p,.address p{
    font-size: 1.1em;
  }
  .contact-form textarea, .contact-form input[type="text"] {
    font-size: 14.5px;
  }
  .contact-form .btn1{
    font-size: 1.1em;
    width: 15%;
  }
}
@media (min-width:801px) and (max-width:900px){
 .address-grids {
    float: left;
    width: 33.3%;
  }
 .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 3.5em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 16px;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 20%;
    font-size: 14px;
  }
  .address p{
    font-size:16px;
  }
  .contact-form textarea,.contact-form input[type="text"]{
      font-size: 14.5px;
  }
}

/** MOBILE SCREEN MEDIA QUERIES **/
@media (max-width:320px) {
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 2.3em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 0.95em;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 50%;
    font-size: 1em;
  }
  .address p{
    font-size: 0.95em;
  }
}

@media (min-width:321px) and (max-width: 360px) {
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 2.3em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 0.95em;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 50%;
    font-size: 1em;
  }
  .address p{
    font-size: 0.95em;
  }
}

@media (min-width:361px) and (max-width: 375px) {
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 2.5em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 0.95em;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 50%;
    font-size: 1em;
  }
  .address p{
    font-size: 0.95em;
  }
}

@media (min-width:376px) and (max-width: 414px) {
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 3em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 0.95em;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 50%;
    font-size: 1em;
  }
  .address p{
    font-size: 0.95em;
  }
}

@media (min-width:414px) and (max-width: 435px) {
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 3em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 1em;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 50%;
    font-size: 1em;
  }
  .address p{
    font-size: 0.95em;
  }
}

@media (min-width:436px) and (max-width: 480px) {
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 3em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 1em;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 50%;
    font-size: 1em;
  }
  .address p{
    font-size: 0.95em;
  }
}

/** TABLET SCREEN MEDIA QUERIES **/
@media (min-width:481px) and (max-width:568px){
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 3.5em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 1em;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 30%;
    font-size: 1em;
  }
  .address p{
    font-size:1em;
  }
}
@media (min-width:569px) and (max-width:600px){
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 3.5em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 1em;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 30%;
    font-size: 1em;
  }
  .address p{
    font-size:1em;
  }
}
@media (min-width:601px) and (max-width:640px){
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 3.5em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 1em;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 30%;
    font-size: 1em;
  }
  .address p{
    font-size:1em;
  }
}
@media (min-width:641px) and (max-width:667px){
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 3.5em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 1em;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 30%;
    font-size: 1em;
  }
  .address p{
    font-size:1em;
  }
  .contact-form textarea,.contact-form input[type="text"]{
      font-size: 13.5px;
  }
}
@media (min-width:668px) and (max-width:731px){
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 3.5em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 1em;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 30%;
    font-size: 1em;
  }
  .address p{
    font-size:1em;
  }
  .contact-form textarea,.contact-form input[type="text"]{
      font-size: 13.5px;
  }
}
@media (min-width:732px) and (max-width:736px){
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 3.5em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 1em;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 30%;
    font-size: 1em;
  }
  .address p{
    font-size:1em;
  }
  .contact-form textarea,.contact-form input[type="text"]{
      font-size: 13.5px;
  }
}
@media (min-width:737px) and (max-width:773px){
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 3.5em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 16px;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 30%;
    font-size: 14px;
  }
  .address p{
    font-size:16px;
  }
  .contact-form textarea,.contact-form input[type="text"]{
      font-size: 14.5px;
  }
}
@media (min-width:774px) and (max-width:800px){
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 3.5em;
  }
  .contact h4{
    font-size: 1.7em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 16px;
  }
  .contact-form .form-group{
    width: 100%;
  }
  .contact-form .form-group#textareaForm
  {
    width: 100%;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 30%;
    font-size: 14px;
  }
  .address p{
    font-size:16px;
  }
  .contact-form textarea,.contact-form input[type="text"]{
      font-size: 14.5px;
  }
}