.slick-slide img {
	height: 100px;
	width: auto;
}
.slick-prev {
	left: -10px;
}
.slick-next {
	right: -10px;
}
.slick-slider {
	margin-bottom: 5px;
}

.selectedProduct img {
	height: auto;
	width: auto;
}

label.material {
	margin-right: 45px;
}
.bgProduct {
	background: url("../images/silhoutteversion3.png") no-repeat;
	background-size: 100% 100%;
	height: 449px;
	width: 489px;
	padding-top: 190px;
	padding-left: 220px;

}

.designDiv {
    position: relative;
}

div.elements {
	padding: 20px;
	height:250px;
	position: relative;
    width: 600px;
}
.e-control {
	position: absolute;
	top: 30%;
}
.e-control.left {
	left: 0px;
}
.e-control.right {
	right: 0px;
}
.felements, .aelements{
	float: left;
}
.felements img, .aelements  img {
	height: 70px;
	width:  auto;
	margin: 15px;

}

.prd_elements {
	position: absolute;
	left: 0;
}
.prd_elements.current {
	border: 1px solid black;
}
