.slick-slide img {
	height: 100px;
	width: auto;
}
.slick-prev {
	left: -10px;
}
.slick-next {
	right: -10px;
}
.slick-slider {
	margin-bottom: 5px;
}

.selectedProduct img {
	height: auto;
	width: auto;
}

label.material {
	margin-right: 45px;
}
.bgProduct {
	background: url("../images/silhoutteversion3.png") no-repeat;
    background-size: contain;
    height: 409px;
    width: 380px;
    padding-top: 170px;
    padding-left: 155px;
}
.designDiv {
    position: relative;
}

.e-control {
	position: absolute;
	top: 30%;
}
.e-control.left {
	left: 0px;
}
.e-control.right {
	right: 0px;
}
.felements, .aelements{
	float: left;
}
.felements img, .aelements  img {
	height: 70px;
	width:  auto;
	margin: 15px;

}

.prd_elements {
	position: absolute;
	left: 0;
}
.prd_elements.current {
	border: 1px solid black;
}




/********/

	.avlOptions #imgOptions{
		position: relative;
		width:100%;
		text-align: center;
	}

	.fheight {
		height: 150px;
	}
	#ear{
		width:100%;
	}

	#ear img{
		 width: 100%;

	}
	#chkBtn button {
        border: 2px solid #F07818;
    color: #fff;
    background: #F07818;
    cursor: pointer;
    padding: 7px 0;
    width: 20%;
    border-radius: 4px;
    display: inline-block;
    font-size: 1em;
    outline: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    margin-right: 14px;
    left: -12px;
    margin-bottom: 20px;
}
  	#chkBtn input[type="submit"]:hover {
      background-color: #5D4B33;
      color: #FFFFFF;
      border-color: #5D4B33;
  	}
	#chkBtn{
		width:100%;
	}

	#chkBtn1{
		width: 100%;
	}

	#chkBtn1 input[type="submit"] {
      border: 2px solid #F07818;
      color: #fff;
      background: #F07818;
      cursor: pointer;
      padding: 7px 0;
      width: 20%;
      border-radius: 4px;
      display: inline-block;
      margin: 1em 0 0;
      font-size: 1em;
      outline: none;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
      top: -20px;
      position: relative;
	  margin-top: 28px;
	  margin-bottom: 0px;
	  float: right;
	}
	#chkBtn1 input[type="submit"]:hover {
      background-color: #5D4B33;
      color: #FFFFFF;
      border-color: #5D4B33;
  	}

	div#type {
	   border:0px solid;
	}

	div#type input[type="radio"] {
	    margin-top: 11px;
	    margin-left: 50px;
	    vertical-align: baseline;
	}
	div#material{
		float: left;
	    margin-top: 10px;
	    position: relative;
	    font-size: 17px;
	    width:16%;
	}

	div#material input[type="radio"] {
	    margin-bottom: 30px;
	    margin-top: 30px;
	    vertical-align: middle;
	}
	div#sampleImgs{
	    border: 0px solid;
	    width: 100%;
	    float: left;
	    position: relative;
	    top: 10px;
	}
	div#sampleImgs img{
		margin: 7px;
	}
	div#sampleImgs h4 {
	    margin-bottom: 1%;
	    font-size: 15px;
	    margin-top: 1%;
	}
	div#sampleImgs span{
	    position: relative;
 	   float: right;
	}
	div#sampleImgs h4 span a{
	   font-size: 12px;
	   float: right;
	}
	div#designerPick{
		position: relative;
		top: 13px;
	}
	div#designerPick h4{
		font-size: 15px;
	}
	div#designerPick img {
	    width: 100%;
	    margin-bottom: 15px;
	}

	.about {
	    background: #fff;
	    padding: 65px 0 0px;
	}

/**** LIGHTBOX CODE ******/
	.black_overlay{
		display: none;
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		background-color: black;
		z-index:1001;
		-moz-opacity: 0.8;
		opacity:.80;
		filter: alpha(opacity=80);
	}
	.white_content {
		display: none;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    padding: 16px;
	    border: 1px solid orange;
	    z-index: 1002;
	    overflow: auto;
	}
	#light a, #light1 a, #light2 a{
		color: #fff;
	    text-transform: Uppercase;
	    float: right;
	}
	div#light img, div#light1 img, div#light2 img {
	    margin: 10px 14px 6px 5px;
	}