@media(max-width:320px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:0px auto;}
#imageBox1:hover .hoverImg1{left:15px;width:80%;top:25px;}
.subscribe form{margin:20px auto;}
#imageBox:hover .hoverImg{left:28px;}
#imageBox2 .hoverImg2{right:15px;width:80%;top:22px;}
#imageBox3 .hoverImg3{right:15px;width:80%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media(min-width:321px) and (max-width:360px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:20px auto;}
#imageBox1:hover .hoverImg1{left:26px;width:70%;top:23px;}
#imageBox:hover .hoverImg{left:38px;}
#imageBox2 .hoverImg2{right:25px;width:70%;top:31px;}
#imageBox3 .hoverImg3{right:25px;width:70%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media(min-width:361px) and (max-width:375px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:0px auto;}
#imageBox1:hover .hoverImg1{left:25px;width:70%;top:21px;}
#imageBox:hover .hoverImg{left:41px;}
#imageBox2 .hoverImg2{left:25px;width:70%;top:30px;}
#imageBox3 .hoverImg3{left:25px;width:70%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media(min-width:376px) and (max-width:414px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:20px auto;}
#imageBox1:hover .hoverImg1{left:26px;width:70%;top:21px;}
#imageBox:hover .hoverImg{left:50px;}
#imageBox2 .hoverImg2{right:33px;width:70%;top:31px;}
#imageBox3 .hoverImg3{right:33px;width:70%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media(min-width:415px) and (max-width:435px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:20px auto;}
#imageBox1:hover .hoverImg1{left:30px;width:70%;top:21px;}
#imageBox:hover .hoverImg{left:56px;}
#imageBox2 .hoverImg2{right:30px;width:70%;top:31px;}
#imageBox3 .hoverImg3{right:30px;width:70%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media(min-width:436px) and (max-width:480px){#imageBox1:hover .hoverImg1{left:43px;width:60%;top:21px;}
#imageBox:hover .hoverImg{left:68px;}
#imageBox2 .hoverImg2{right:43px;width:60%;top:31px;}
#imageBox3 .hoverImg3{right:43px;width:60%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media (min-width:481px) and (max-width:568px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:0px auto;}
#imageBox1:hover .hoverImg1{left:69px;width:50%;top:21px;}
#imageBox:hover .hoverImg{left:90px;}
#imageBox2 .hoverImg2{right:69px;width:50%;top:31px;}
#imageBox3 .hoverImg3{right:69px;width:50%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media (min-width:569px) and (max-width:600px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:0px auto;}
#imageBox1:hover .hoverImg1{left:81px;width:45%;top:21px;}
.subscribe form{margin:20px auto;}
#imageBox:hover .hoverImg{left:98px;}
#imageBox2 .hoverImg2{right:81px;width:45%;top:31px;}
#imageBox3 .hoverImg3{right:81px;width:45%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media (min-width:601px) and (max-width:640px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:0px auto;}
#imageBox1:hover .hoverImg1{left:93px;width:40%;top:21px;}
.subscribe form{margin:20px auto;}
#imageBox:hover .hoverImg{left:108px;}
#imageBox2 .hoverImg2{right:93px;width:40%;top:31px;}
#imageBox3 .hoverImg3{right:93px;width:40%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media (min-width:641px) and (max-width:667px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:0px auto;}
#imageBox1:hover .hoverImg1{left:97px;width:40%;top:21px;}
.subscribe form{margin:20px auto;}
#imageBox:hover .hoverImg{left:114px;}
#imageBox2 .hoverImg2{right:97px;width:40%;top:31px;}
#imageBox3 .hoverImg3{right:97px;width:40%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media (min-width:668px) and (max-width:731px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:0px auto;}
#imageBox1:hover .hoverImg1{left:104px;width:40%;top:21px;}
.subscribe form{margin:20px auto;}
#imageBox:hover .hoverImg{left:118px;}
#imageBox2 .hoverImg2{right:104px;width:40%;top:31px;}
#imageBox3 .hoverImg3{right:104px;width:40%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media (min-width:732px) and (max-width:736px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:0px auto;}
#imageBox1:hover .hoverImg1{left:102px;width:40%;top:21px;}
.subscribe form{margin:20px auto;}
#imageBox:hover .hoverImg{left:132px;}
#imageBox2 .hoverImg2{right:102px;width:40%;top:31px;}
#imageBox3 .hoverImg3{right:102px;width:40%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media (min-width:737px) and (max-width:773px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:0px auto;}
#imageBox1:hover .hoverImg1{left:110px;width:40%;top:21px;}
.subscribe form{margin:20px auto;}
#imageBox:hover .hoverImg{left:135px;}
#imageBox2 .hoverImg2{right:110px;width:40%;top:21px;}
#imageBox3 .hoverImg3{right:110px;width:40%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media (min-width:774px) and (max-width:800px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:0px auto;}
#imageBox1:hover .hoverImg1{left:110px;width:40%;top:21px;}
.subscribe form{margin:20px auto;}
#imageBox:hover .hoverImg{left:135px;}
#imageBox2 .hoverImg2{right:110px;width:40%;top:21px;}
#imageBox3 .hoverImg3{right:110px;width:40%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media (min-width:1367px) and (max-width:1440px){#imageBox .hoverImg{left:98px;}
}
@media (min-width:1281px) and (max-width:1366px){#imageBox .hoverImg{left:98px;}
}
@media (min-width:1081px) and (max-width:1280px){#imageBox .hoverImg{left:98px;}
}
@media (min-width:1025px) and (max-width:1080px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:0px auto;}
#imageBox1:hover .hoverImg1{left:60px;width:50%;top:23px;}
.subscribe form{margin:20px auto;}
#imageBox:hover .hoverImg{left:73px;}
#imageBox2 .hoverImg2{right:60px;width:50%;top:23px;}
#imageBox3 .hoverImg3{right:60px;width:50%;top:33px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media (min-width:992px) and (max-width:1024px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:0px auto;}
#imageBox1:hover .hoverImg1{left:60px;width:50%;top:23px;}
.subscribe form{margin:20px auto;}
#imageBox:hover .hoverImg{left:73px;}
#imageBox2 .hoverImg2{right:60px;width:50%;top:23px;}
#imageBox3 .hoverImg3{right:60px;width:50%;top:33px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media (min-width:901px) and (max-width:991px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:0px auto;}
#imageBox1:hover .hoverImg1{left:95px;width:45%;top:21px;}
.subscribe form{margin:20px auto;}
#imageBox:hover .hoverImg{left:135px;}
#imageBox2 .hoverImg2{right:95px;width:45%;top:21px;}
#imageBox3 .hoverImg3{right:95px;width:45%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}
@media (min-width:801px) and (max-width:900px){div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3{margin:10px auto 30px auto;}
.subscribe form{margin:0px auto;}
#imageBox1:hover .hoverImg1{left:95px;width:45%;top:21px;}
.subscribe form{margin:20px auto;}
#imageBox:hover .hoverImg{left:135px;}
#imageBox2 .hoverImg2{right:95px;width:45%;top:21px;}
#imageBox3 .hoverImg3{right:95px;width:45%;top:31px;}
.subscribe form p{font-size:1.5em;top:-13px;padding:0px 2.5px;}
}