.subscribe form{
	margin: 65px auto;
}
#imageBox .hoverImg{
    left: 97px;
    position: absolute;   
    top: 0;
    display: none;
}
#imageBox1 .hoverImg1{
    left: 76px;
    position: absolute; 
    width: 50%;
    top: 22px;
    display: none;
}
#imageBox2 .hoverImg2{
    right: 70px;
    position: absolute;
    width:50%;
    top:25px;
    display: none;
}
#imageBox3 .hoverImg3{
    right: 70px;
    width:50%;
    top:28px;
    position: absolute;
    display: none;
}

#imageBox:hover .hoverImg, #imageBox1:hover .hoverImg1, #imageBox2:hover .hoverImg2, #imageBox3:hover .hoverImg3 {
    display: block;
    cursor:pointer:;
}
/** MOBILE SCREEN MEDIA QUERIES **/
@media(max-width:320px){
	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 0px auto;
	}
	#imageBox1:hover .hoverImg1 {
		left: 81px;
		width: 46%;
		top:21px;
	}
	.subscribe form{
		margin: 20px auto;
	}

	#imageBox:hover .hoverImg{
		left: 100px;
	}   
	#imageBox2 .hoverImg2{
		right: 76px;
		width:46%;
		top:21px;
	}
	#imageBox3 .hoverImg3{
		right: 76px;
		width:46%;
		top:31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
@media(min-width:321px) and (max-width:360px){
	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 20px auto;
	}
	#imageBox1:hover .hoverImg1 {
		left: 93px;
		width: 46%;
		top:21px;
	}

	#imageBox:hover .hoverImg{
		left: 120px;
	}   
	#imageBox2 .hoverImg2{
		right: 90px;
		width:46%;
		top:21px;
	}
	#imageBox3 .hoverImg3{
		right: 90px;
		width:46%;
		top:31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
@media(min-width:361px) and (max-width:375px){
	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 0px auto;
	}
	#imageBox1:hover .hoverImg1 {
		left: 93px;
		width: 46%;
		top:21px;
	}

	#imageBox:hover .hoverImg{
		left: 128px;
	}   
	#imageBox2 .hoverImg2{
		right: 90px;
		width:46%;
		top:21px;
	}
	#imageBox3 .hoverImg3{
		right: 90px;
		width:46%;
		top:31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
@media(min-width:376px) and (max-width:414px){
	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 20px auto;
	}

	#imageBox1:hover .hoverImg1 {
		left: 110px;
		width: 46%;
		top:21px;
	}

	#imageBox:hover .hoverImg{
		left: 146px;
	}   
	#imageBox2 .hoverImg2{
		right: 100px;
		width:46%;
		top:21px;
	}
	#imageBox3 .hoverImg3{
		right: 100px;
		width:46%;
		top:31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
@media(min-width:415px) and (max-width:435px){
	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 20px auto;
	}

	#imageBox1:hover .hoverImg1 {
		left: 110px;
		width: 46%;
		top:21px;
	}

	#imageBox:hover .hoverImg{
		left: 158px;
	}   
	#imageBox2 .hoverImg2{
		right: 100px;
		width:46%;
		top:21px;
	}
	#imageBox3 .hoverImg3{
		right: 100px;
		width:46%;
		top:31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}

@media(min-width:436px) and (max-width:480px){
	
	#imageBox1:hover .hoverImg1 {
		left: 156px;
		width: 30%;
		top:21px;
	}

	#imageBox:hover .hoverImg{
		left: 180px;
	}   
	#imageBox2 .hoverImg2{
		right: 156px;
		width: 30%;
		top: 21px;
	}
	#imageBox3 .hoverImg3{
		right: 156px;
		width:30%;
		top:31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
/** TABLET SCREEN MEDIA QUERIES **/
@media (min-width:481px) and (max-width:568px){
	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 0px auto;
	}

	#imageBox1:hover .hoverImg1 {
		left: 189px;
		width: 30%;
		top:21px;
	}

	#imageBox:hover .hoverImg{
		left: 224px;
	}   
	#imageBox2 .hoverImg2{
		right: 189px;
		width: 30%;
		top: 21px;
	}
	#imageBox3 .hoverImg3{
		right: 189px;
		width:30%;
		top:31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
@media (min-width:569px) and (max-width:600px){
	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 0px auto;
	}
	#imageBox1:hover .hoverImg1 {
	    left: 215px;
	    width: 25%;
	    top: 21px;
	}
	.subscribe form{
		margin: 20px auto;
	}

	#imageBox:hover .hoverImg{
		left: 240px;
	}   
	#imageBox2 .hoverImg2{
		right: 215px;
		width:25%;
		top:21px;
	}
	#imageBox3 .hoverImg3{
		right: 215px;
		width:25%;
		top:31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
@media (min-width:601px) and (max-width:640px){

	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 0px auto;
	}
	#imageBox1:hover .hoverImg1 {
	    left: 225px;
	    width: 25%;
	    top: 21px;
	}
	.subscribe form{
		margin: 20px auto;
	}

	#imageBox:hover .hoverImg{
		left: 260px;
	}   
	#imageBox2 .hoverImg2{
		right: 225px;
		width:25%;
		top:21px;
	}
	#imageBox3 .hoverImg3{
		right: 225px;
		width:25%;
		top:31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
@media (min-width:641px) and (max-width:667px){

	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 0px auto;
	}
	#imageBox1:hover .hoverImg1 {
	    left: 240px;
	    width: 25%;
	    top: 21px;
	}
	.subscribe form{
		margin: 20px auto;
	}

	#imageBox:hover .hoverImg{
		left: 274px;
	}   
	#imageBox2 .hoverImg2{
		right: 240px;
		width:25%;
		top:21px;
	}
	#imageBox3 .hoverImg3{
		right: 240px;
		width:25%;
		top:31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
@media (min-width:668px) and (max-width:731px){

	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 0px auto;
	}
	#imageBox1:hover .hoverImg1 {
	    left: 247px;
	    width: 25%;
	    top: 21px;
	}
	.subscribe form{
		margin: 20px auto;
	}

	#imageBox:hover .hoverImg{
		left: 282px;
	}   
	#imageBox2 .hoverImg2{
		right: 247px;
		width:25%;
		top:21px;
	}
	#imageBox3 .hoverImg3{
		right: 247px;
		width:25%;
		top:31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
@media (min-width:732px) and (max-width:736px){

	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 0px auto;
	}
	#imageBox1:hover .hoverImg1 {
	    left: 268px;
	    width: 25%;
	    top: 21px;
	}
	.subscribe form{
		margin: 20px auto;
	}

	#imageBox:hover .hoverImg{
		left: 308px;
	}   
	#imageBox2 .hoverImg2{
		right: 268px;
		width:25%;
		top:21px;
	}
	#imageBox3 .hoverImg3{
		right: 268px;
		width:25%;
		top:31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
@media (min-width:737px) and (max-width:773px){

	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 0px auto;
	}
	#imageBox1:hover .hoverImg1 {
	    left: 110px;
	    width: 40%;
	    top: 21px;
	}
	.subscribe form{
		margin: 20px auto;
	}

	#imageBox:hover .hoverImg{
		left: 135px;
	}   
	#imageBox2 .hoverImg2{
		right: 110px;
		width:40%;
		top:21px;
	}
	#imageBox3 .hoverImg3{
		right: 110px;
		width:40%;
		top:31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
@media (min-width:774px) and (max-width:800px){

	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 0px auto;
	}
	#imageBox1:hover .hoverImg1 {
	    left: 110px;
	    width: 40%;
	    top: 21px;
	}
	.subscribe form{
		margin: 20px auto;
	}

	#imageBox:hover .hoverImg{
		left: 135px;
	}   
	#imageBox2 .hoverImg2{
		right: 110px;
		width:40%;
		top:21px;
	}
	#imageBox3 .hoverImg3{
		right: 110px;
		width:40%;
		top:31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
/** LAPTOP & DESKTOPS SCREEN MEDIA QUERIES **/
@media (min-width:1025px) and (max-width:1080px){
	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 0px auto;
	}
	#imageBox1:hover .hoverImg1 {
	    left: 60px;
	    width: 50%;
	    top: 23px;
	}
	.subscribe form{
		margin: 20px auto;
	}

	#imageBox:hover .hoverImg{
		left: 73px;
	}   
	#imageBox2 .hoverImg2{
		right: 60px;
		width:50%;
		top:23px;
	}
	#imageBox3 .hoverImg3{
		right: 60px;
	    width: 50%;
	    top: 33px;

	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
@media (min-width:992px) and (max-width:1024px){
	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 0px auto;
	}
	#imageBox1:hover .hoverImg1 {
	    left: 60px;
	    width: 50%;
	    top: 23px;
	}
	.subscribe form{
		margin: 20px auto;
	}

	#imageBox:hover .hoverImg{
		left: 73px;
	}   
	#imageBox2 .hoverImg2{
		right: 60px;
		width:50%;
		top:23px;
	}
	#imageBox3 .hoverImg3{
		right: 60px;
	    width: 50%;
	    top: 33px;

	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}
}
@media (min-width:901px ) and (max-width:991px){
	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 0px auto;
	}
	#imageBox1:hover .hoverImg1 {
	    left: 95px;
	    width: 45%;
	    top: 21px;
	}
	.subscribe form{
		margin: 20px auto;
	}

	#imageBox:hover .hoverImg{
		left: 135px;
	}   
	#imageBox2 .hoverImg2{
		right: 95px;
		width:45%;
		top:21px;
	}
	#imageBox3 .hoverImg3{
	    right: 95px;
	    width: 45%;
	    top: 31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}	
}
@media (min-width:801px ) and (max-width:900px){
	div#imageBox, div#imageBox1, div#imageBox2, div#imageBox3 {
    	margin: 10px auto 30px auto;
	}
	.subscribe form{
		margin: 0px auto;
	}
	#imageBox1:hover .hoverImg1 {
	    left: 95px;
	    width: 45%;
	    top: 21px;
	}
	.subscribe form{
		margin: 20px auto;
	}

	#imageBox:hover .hoverImg{
		left: 135px;
	}   
	#imageBox2 .hoverImg2{
		right: 95px;
		width:45%;
		top:21px;
	}
	#imageBox3 .hoverImg3{
	    right: 95px;
	    width: 45%;
	    top: 31px;
	}
	.subscribe form p{
	    font-size: 1.5em; 
	    top: -13px;
	    padding: 0px 2.5px;
	}	
}