.contact h2 {
    font-size: 3.5em;
  }
.contact ul li {
  margin-left: 34px;
  color: #999;
}
.contact-form input[type="text"] {
  width:32.3%;
}
.contact-form textarea {
  display: inline-block;
  background:  #fff;
  border: 1px solid #5D4B33;
  width: 32.3%;
  outline: none;
  padding: 10px 15px 10px 15px;
  font-size: 12.5px;
  color: #999;
  margin-bottom: 1.5em;
}
.contact-form textarea[type="text"]:nth-child(2) {
  margin: 0 1em;
}
.contact-form textarea, .contact-form input[type="text"]{
      font-size: 13.5px;
  }
  .contact hr {
      margin-bottom: -45px;
  }
  .contact{
    padding: 4em
  }
@media (min-width:1367px) and (max-width:1440px){
  .contact-form textarea, .contact-form input[type="text"]{
        font-size: 13.5px;
    }
    .contact hr {
        margin-bottom: -45px;
    }
    .contact h2{
        font-size: 3em;
    }

}

@media (min-width:1281px) and (max-width:1366px){
  .contact-form textarea, .contact-form input[type="text"]{
        font-size: 12.5px;
    }
    .contact hr {
        margin-bottom: -45px;
    }
    .contact h2{
        font-size: 3em;
    }
}

@media (min-width:1081px) and (max-width:1280px){
  .contact {
    padding:4em 0 0 0 ;
  }
  .contact-form input[type="text"], .contact-form textarea {
    font-size: 12.5px;
  }
  .contact hr {
    margin-bottom: -50px;
  }
  .contact h2 {
    font-size: 3em;
  }
}
@media (max-width:320px) {
  .contact{
    padding: 4em 0 2em 0;
  }
  .contact h2{
    font-size: 2.3em;
  }
  .contact hr{
    margin-bottom: 0px;
  }
  .contact-infom p{
    font-size: 0.95em;
  }
  .contact-form input[type="text"] {
    width: 100%;
  }
  .contact-form textarea{
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact-form .btn1 {
    width: 50%;
    font-size: 1em;
  }
}