   .about {
       /*background: transparent url("/images/customBG4.png") no-repeat scroll 50% 50% / contain;*/

       background: transparent url("/images/customBG4.png") no-repeat;
       background-size: 100% 115%;
   }
   .about-inform .content {
       display: table;
       border: 0px solid red;
       width: 100%;
       height: 100%;
       margin: -25px 0px 0px 0px;
   }
   #chandDiv,
   #hoopDiv,
   #studDiv,
   #dangDiv,
   #jhumDiv {
       display: table-row;
       max-height: 320px;
       text-align: center;
   }
   .about-inform .content div h3 {
       font-weight: bold;
       font-size: 20px;
       margin: 30px auto 10px auto;
       text-align: center;
       color: #000;
       font-weight: bold;
   }
   .about hr {
       margin-bottom: 10px;
   }
   .about-inform .content div hr {
       margin-top: -2px;
       border-top: 1px solid #333;
       width: 60%;
   }
   #chandDiv p,
   #hoopDiv p,
   #studDiv p,
   #dangDiv p,
   #jhumDiv p {
       text-align: center;
       margin: 10px auto 0px auto;
       font-weight: bold;
       font-size: 13px;
       color: #000;
       font-weight: bold;
       text-shadow: 1px 1px 9px #333;
   }
   .about-inform .content div #chandText,
   .about-inform .content div #hoopText,
   .about-inform .content div #studText,
   .about-inform .content div #jhumText,
   .about-inform .content div #dangText {
       font-size: 19px;
       border: 0px solid;
       width: 100%;
       top: 50%;
       position: absolute;
       font-weight: bold;
       height: 60px;
       margin-left: -15px;
   }
   .about-inform .content div #chandText input,
   .about-inform .content div #hoopText input,
   .about-inform .content div #studText input,
   .about-inform .content div #jhumText input,
   .about-inform .content div #dangText input {
       box-shadow: 2px -2px 115px #0E0D0D inset;
       background-color: #E0D3D3;
       border: 0px solid #5D4B33;
       color: #fff;
       font-size: 14px;
       font-weight: bold;
       opacity: 0.8;
       height: 60px;
       font-family: 'Roboto-Regular';
       width: 50%;
       margin: 0px auto;
   }
   .borderClass {
       border: 1px solid #333;
   }
   .imgClass {
       border: 0px solid;
       width: 100%;
       margin: 0 auto;
   }
   .imgClass img {
       width: 100%;
       cursor: pointer;
   }
   .gallery-info p {
       font-size: 0.95em;
       margin-top: 0em;
       margin-left: 60px;
   }
   .gallery-info,
   .gallery-grid:nth-child(3) .gallery-info {
       width: 37.7%;
       left: 31.2%;
       padding: 0.5em;
       bottom: 0%;
   }
   .gallery-grid img {
       border: 1px solid #eee;
       width: 40%;
   }
   .gallery-grid p {
       text-align: center;
       font-size: 16px;
   }
