    /* header nav styles */

/*

@media only screen and (max-width: 599px)
article.item.read-full .item-body:after {
    z-index: 1;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 200px;
    border-bottom: 35px solid #f9f9f9;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(249,249,249,0)),color-stop(100%,#f9f9f9));
    background: -webkit-linear-gradient(top,rgba(249,249,249,0) 0,#f9f9f9 100%);
    background: -o-linear-gradient(top,rgba(249,249,249,0) 0,#f9f9f9 100%);
    background: -ms-linear-gradient(top,rgba(249,249,249,0) 0,#f9f9f9 100%);
    background: linear-gradient(to bottom,rgba(249,249,249,0) 0,#f9f9f9 100%);
}

*/

.navbar-default.homepage {
    background-color: transparent;
    border-bottom: 1px solid transparent;
}
.navbar {
        -webkit-transition: background 0.4s ease-in-out, border-bottom 1.6s ease-in-out;
        -moz-transition: background 0.4s ease-in-out, border-bottom 1.6s ease-in-out;
        transition: background 0.4s ease-in-out, border-bottom 1.6s ease-in-out;
}


.homepage.top-nav-collapse {
    background-color: #eeeaea;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu > li {
    margin: 5px 0;
}
.dropdown-menu > li span {
    padding-right: 14px;
}
.dropdown.open {
    background-color: #fff8f4;
    border-radius: 4px 4px 0px 0px;
}
.dropdown.open > a:hover {
    border: 1px solid transparent;
}

#loginbox, #cartbox {
    min-width: 300px;
    border-top-left-radius: 4px;
}

#cartbox p {
    display: flex;

}
#cartbox p span {
    flex: 1;
}
#cartbox hr {
    margin: 0;
    margin-bottom: 10px;
}
.simpleCart_total, .cartbtn {
    text-align: right;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
    background-color: #fff8f4;
}

#loginform {
    position: relative;
}

#loginform +p {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#loginform span {
    position: absolute;
    right: 0px;
    bottom: 2px;
}

#submitfield {
    position: relative;
}

#submitfield span {
    position: absolute;
    left: 80px;
    bottom: -3px;
}
/* header nav style ends */


.pageContainer {
    padding-top: 70px;
}

.dropdown-menu .list img {
    width: 27px;
    background-color: #8e5918;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: bottom;
}
/* register page */
#regForm {width: 40%; margin-bottom: 20px;}

/* banner and co-create section */
.banner {
  background: url(../images/banner2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right top;
  overflow: hidden;
  height: 700px;
  /* height: 96vh; */
  position: relative;
}

.banner_content {
    margin-top: 16%;
    /* font-size: 100%; */
    font-size: 20px;
    line-height: 1;
    /* font-size: 1.4vw; */
    color: #666;
}


.banner_content .btn .fa {
    font-size: 20px;
    color: #8e5918;
}
.banner_content .btn .fa-play-circle-o{
  font-size: 16px;
  color: rgba(51, 51, 51, 0.38);
}
.banner_content .btn {
    border-radius: 12px;
    background-color: rgba(142, 89, 24, 0.34);
    color: #333;
    font-size: 18px;
    padding: 4px 15px;
}

.banner_content .btn:hover {
  background-color: rgba(214, 193, 168, 0.86);
}


.cocreate {
}

.cocreate img {
    background: #8f582c;
    width: 98%;
    border-radius: 50%;
    margin: 12% 0 0;
}

.icon_container {
    width: 800px;
}

.banner_content h3 {
    color: #333;
    margin-top: 0px;
    line-height: 1;
    font-size: 30px;
    margin-bottom: 20px;
}

.arrowsection {
    position: relative;
}

.arrow-wrap {
   position:absolute;
   z-index:1;
   left:50%;
   top: -2em;
   /*  margin-left: 50%;
  margin-top: -7em;*/
   text-align: center;
   background: transparent;
   width: 5em;
   height: 5em;
   padding: 2em 1.5em;
   border-radius:50%;
   font-size: 0.5em;
   display:block;
   /* box-shadow: 0px 0px 5px 0px #111; */
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 1em 1.2em 0 1.2em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg);
}

.arrow:after {
  content:'';
  position:absolute;
  top: -1em;
  left: -1em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 2em 2em 0 2em;
  border-color: #948574 transparent transparent transparent;
  -webkit-transform:rotate(360deg);
}


.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}


.arrow-wrap:hover .hint {
  opacity:1;
}


  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }

  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
  }

.featured {
     margin-top: 5px;
}


.cocreate .co-icons .icon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #8f582c;
    background-color: rgba(214, 193, 168, 0.86);
}
.cocreate a:hover, .cocreate a:focus {
    text-decoration: none;
}
.cocreate a:hover  +p{
    visibility: visible;
    color: #000;
    text-align: center;
}
.cocreate p {
    display: block;
    font-size: 0.9em;
    margin-top: 5px;
    color: #333;
    margin-left: -24px;
}

.cocreate .co-icons {
    text-align: center;
    margin-right: 0;
    padding: 0;
    width: 21%;
}

.cocreate .co-icons .icon {
    font-size: 5.3vw;
    color: #000;
    background-color: rgba(142, 89, 24, 0.34);
    border-radius: 50%;
    width: 80%;
    height:0;
    padding-bottom: 80%;
    margin-top: 12%;
}

.co_content {
    font-size: 18px;
    width: 43%;
    /* font-size: 115%; */
    /* margin-top: 40px; */
    color: #333;
}
.co_content h3 {
    margin-bottom:  0;
    font-size: 24px;
    color: #8E5917;
    margin-top: 40px;
}

.visible-xs .co_content {
    width: 100%;
}

.visible-xs .cocreate  {
    border-bottom: 1px solid #eee;
}

.visible-xs .cocreate .co-icons .icon {
    font-size: 14vw;
}

/* productlist */
.productlist h3 {
    margin-bottom: 5px;
    color:#d78b2e;
}


/* products */
.products {
    /* margin-top: 130px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}

.product-card {
    flex: 0 1 20%;
    margin: 6px 40px 14px 0px;
    border: 1px solid #f9f9f9;
    background-color: #FFF;
    border-radius: 8px;
}

.products.search .product-card {
    margin: 6px 50px 14px 0px;
}

.product-card .btn {padding: 2px 6px;margin-top: 6px;}

.product-image img {
    width: 100%;
}

.product-info {
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
    background-color: #eeeaea;
    padding: 5px 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.product-info .details {
    /* display: flex; */
    justify-content: space-between;
}

.product-image {
    height: 185px;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
}


.product-info p {
    margin: 0;
    padding: 5px 1px;
    text-align: left;
    color: #3d3d3d;
    font-size: 0.8em;
    line-height: 1;
    /* min-height: 29px; */
    font-weight: bold;
    vertical-align: top;
    /* flex: 1; */
    word-wrap: break-word;
}
.product-info p.pr-name {
    text-transform: capitalize;
    text-align: left;
    color: #8e5918;
    font-size: 1em;
}

.product-info p.pr-price {
    /* text-align: right; */
}
.product-info.search h6 {
    margin: 5px;
    font-weight: bold;
    text-transform: capitalize;
}



.product-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-image img {
    width:auto;
    height: 100%;
    border: none;
}

/* productbox */
.productbox {
    border: none;
    border-radius: 8px;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    margin-top: 10px;
    /* box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-bottom: 5px;
}

.productbox .productimg {
    height: 185px;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
}

.productbox  .pr-info {
    background-color: #eeeaea;
    padding: 5px 10px;
    /* box-shadow: 2px 1px 14px 0px rgba(0,0,0,0.3); */
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    display: flex;
    border-radius: 4px;
    /*margin-bottom: 10px;*/
}

.productbox  .pr-info p {
    margin: 0;
    padding: 5px 1px;
    text-align: right;
    flex: 1;
    color: #d78b2e;
    height: 40px;
    font-size: 0.8em;
    line-height: 1;
    vertical-align: top;
    display: table-cell;
    word-wrap: break-word;
}
.productbox  .pr-info p.pr-name {
    text-transform: capitalize;
    text-align: left;
}



.productbox:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.productbox img {
    width:auto;
    height: 100%;
    border: none;
}

/* video wrapper */
.video_modal {
    border-bottom: none;
    padding: 5px 15px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 20px; /* 16:9 */
    padding-top: 25px;
    height: 350px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    /* height: 50%; */
}


.shadowed {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.3));
    filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.3));
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs {
    /* text-align:center; */
}

.tab-content {
    padding: 1em;
    height: 150px;
}

.flexslider {
    width: 100%;
}
.flex-viewport {width: 65%;float: right;/* border: 1px solid; */margin-right: 55px;margin-top: 26px;background-color: #f9f9f9;/* box-shadow: inset 10px 10px 50px #f3f3f3; */}
.flex-control-thumbs {width: 25% !important;float:left;/* border: 1px solid; */margin: 25px 0px !important;}
.flex-control-thumbs li {/* width:auto !important; */}
.sliderHelp {
    margin-left: 180px;
    /* padding: 0px 30%; */
    /* box-shadow: inset 10px 10px 50px #f3f3f3; */
}


/*--footer--*/
.footer {
    padding: 2.5em 0;
    background-color: #f2f6f7;
}

.footerbanner {
    background-color: #fff;
    text-align: center;
    border-top: 1px solid #eee;
}
.footerbanner .col-xs-4 {
    padding: 15px 0;
}
.footerbanner p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: small;
}
.footerbanner  img {
    height: 63px;
    /* background: #e8e8e7; */
    /* border-radius: 50%; */
    /* padding: 0.6em; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.footer-grid h4 {
    text-transform: uppercase;
    color: #F07818;
    margin-bottom: 1em;
}
.footer-grid ul {
    padding-left: 0px;
}
.footer-grid ul li {
    list-style: none;
    margin-bottom: 3px;
    text-align: left;
    color: #999;
}
.footer-grid ul li a:hover {
    color: #F07818;
}
.footer-grid ul li a {
    font-size: 1em;
    text-decoration: none;
    line-height: 2em;
    color: #999;
    list-style: none;
    text-transform: capitalize;
}
.footer-grid ul li a img {
    width: 16px;
    margin-right: 10px;
}
.footer-bottom {
    background-color: #eeeaea;
    padding: .5em 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 1em;
    color: #313131;
    line-height: 1.8em;
}
.footer-bottom p a {
    color: #F07818;
    margin-left: 6px;
}
.footer-bottom p a:hover {
    color: #fff;
    text-decoration: underline;
}
/*--//footer--

/* carousel */
.testimonials {
    padding: 20px  0;
    margin-top: 0px;
    border-bottom: 1px solid #eee;
    }
.content {
    margin-top: 20px;
}

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


.carousel-indicators li {
    border: 1px solid #ccc;
}
.carousel-control {
    color: #31708f;
}
.carousel-control:hover,
.carousel-control:focus {
    color: #31708f;
}
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

@media screen and (max-width: 768px) {
    .media-object {
        margin-top: 0;
    }
}