.item_add{
  width: 70%;
  margin: 0.5em auto 7px 25px;
}
.pagecontent {
  display: none;
}
 .about{
  background-color:#fff;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
 }
 div#left-pane{
   border-right: 1px solid #C5C4C4;
   min-height: 640px
 }
 div#right-pane {

    border: 0px solid;
    min-height: 640px;
}
 .userProfile {
   border-bottom: 3px solid #C5C4C4;
   padding-bottom: 10px;
 }
 span i.fa.fa-user {
   font-size: 65px;
   border: 10px solid #bbb;
   padding: 10px;
   color: #bbb;
 }
 .userList ul li {
   list-style: none;
   padding: 10px;
   color: #333;
 }
 .userList ul li:nth-child(3), .userList ul li:nth-child(4){
  /* border-bottom: 3px solid #5D4B33;*/
   padding: 10px;
 }
 .userList a {
  color: #333;
 }
 .userList i {
  font-size: 20px;
  color: #5D4B33;
 }
 .userList span {
   font-family: 'Roboto-Regular';
   font-size: 16px;
   text-transform: uppercase;
 }
 .subUL {
   border-top: 3px solid #5D4B33;
   margin-top: 10px;
   width: 100%;
 }
 .userDetail{
   font-size: 16px;
   font-weight: bold;
   vertical-align: bottom;
   margin-left: 10px;
 }
 .subUL ul li {
   border-bottom: 1px solid #F07818;
   height: 32px;
   font-size: 15px;
   text-transform: capitalize;
   position: relative;
   padding: 5px;
   margin-left: 10px
 }
 .subUL ul li:nth-child(3){
   border-bottom: 1px solid #F07818;
   height: 32px;
   font-size: 15px;
   text-transform: capitalize;
   position: relative;
   padding: 5px;
 }
 .subUL ul li a{
  color:#555;
 }

 /******MENU TOGGLE CSS *****/
  #brand {
    float: left;
    line-height: 50px;
    color: #E5DAC0;
    font-size: 25px;
    font-weight: bolder;
    margin: 0 0 0 6px;
  }
.menu {
  width: 276px;
  min-height: auto;
  margin-top: -130px;
  position: absolute;
  height: 0;
  background: #5D4B33;
  left: -10px;
  transition: all .3s ease-in-out;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  z-index: 1;
}
.menu-icon {
    padding: 10px 20px;
    background: #5D4B33;
    color: #fff;
    cursor: pointer;
    float: left;
    margin: -8px 6px 12px 0;
    border-radius: 0px;
    font-weight: normal;
    width: 100%;
    text-align: center;
}
#menuToggle { display: none; }

#menuToggle:checked ~ .menu { position: absolute; left: -50px; }

 .menu ul li {
   list-style: none;
   padding: 10px;
   color: #fff;
   .font-weight: normal;
 }
 .menu ul li:nth-child(3), .menu ul li:nth-child(4){
 /*  border-bottom: 3px solid #fff;*/
   padding: 10px;
 }
  .menu a {
  color: #f3f3f3;
 }
 .menu i {
  font-size: 20px;
 }
  .menu span {
   font-family: 'Roboto-Regular';
   font-size: 16px;
   text-transform: uppercase;
 }
 .menu .subUL {
   border-top: 3px solid #f3f3f3;
   margin-top: 10px;
   width: 100%;
 }
 .menu{
   font-size: 16px;
   font-weight: bold;
   vertical-align: bottom;
   margin-left: 10px;
 }
 .menu .subUL ul li {
   border-bottom: 1px solid #F07818;
   height: 32px;
   font-size: 15px;
   text-transform: capitalize;
   position: relative;
   padding: 5px;
   margin-left: 10px
 }
 .menu .subUL ul li:nth-child(3){
   border-bottom: 1px solid #F07818;
   height: 32px;
   font-size: 15px;
   text-transform: capitalize;
   position: relative;
   padding: 5px;
 }
 .menu .subUL ul li a{
  color:#f3f3f3;
  font-weight: normal;
 }





 /******END OF MENU TOGGLE***/
 .register-top-grid span, .register-bottom-grid span {
  color: #F07818;
 }
 #chngPwd{
   position: relative;
   top: 26px;
 }
 #editAddress{
   position: relative;
   top: 83px;
 }
 #viewOrders, .custdes{
   position: relative;
   top:83px;
 }
 #editProfile{
   position: relative;
   top: 83px;
 }
 input#updateprofile, input#editAddr, input#chngpwd {
    border: 2px solid #F07818;
    color: #FFF;
    font-size: 1.1em;
    padding: 0.5em 2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    outline: none;
    background-color: #F07818;
    border-radius: 4px;
}
input#updateprofile:hover, input#editAddr:hover, input#chngpwd:hover{
  background: #FFF;
  color: #F07818;
}
 .contact-form .form-group{
   width: 32.3%;
   float: left;
 }
 .contact-form input[type="text"]
 {
  width: 97%;
 }
 #textareaForm{
  width: 96%;
 }
 #emailInput{
  border:1px solid #555;
 }

.product-img img {
  width: 100%;
  height: auto;
}
 .product-img {
    border: 1px solid #eee;
    height: 200px;
  box-shadow: inset 10px 10px 50px #f3f3f3;
  -moz-box-shadow: inset 10px 10px 50px #f3f3f3;
  -webkit-box-shadow: inset 10px 10px 50px #f3f3f3;
 }
 .orders table{
  width:100%;
 }
 .orders table tr th{
   border: 1px solid #ddd;
   width: auto;
   text-align: center;
   text-transform: uppercase;
   color:#F07818;
   padding:10px;
 }
 .orders tr td{
   border: 1px solid #ddd;
   width: auto;
   text-align: center;
   text-transform: capitalize;
   color:#333;
   padding:10px;
 }
 .orders div {
   width: 100%;
   border: 1px solid #ddd;
   padding: 7px;
   position: relative;
 }
 .orders div span{
   width: 20%;
   padding-left: 10px;
   padding-right: 10px;
 }

.paging-nav {
  text-align: right;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #F07818;
  color: white;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #fff;
  border: 1px solid #5D4B33;
  color: #5D4B33;
  font-weight: bold;
}
.orders div{
    border: 0px;
    text-align: center;
    margin-top: 10px;
}
table#allorders td a {
    cursor: pointer;
    color: #000;
    text-decoration: underline;
}
