.pagecontent {
  display: none;
}
 .about{
  background-color:#fff;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
 }
 div#left-pane{
   border-right: 1px solid #C5C4C4;
   min-height: 640px
 }
 div#right-pane {

    border: 0px solid;
    min-height: 640px;
}
 .userProfile {
   border-bottom: 3px solid #C5C4C4;
   padding-bottom: 10px;
 }
 span i.fa.fa-user {
   font-size: 65px;
   border: 10px solid #bbb;
   padding: 10px;
   color: #bbb;
 }
 .userList ul li {
   list-style: none;
   padding: 10px;
   color: #333;
 }
 .userList ul li:nth-child(3), .userList ul li:nth-child(4){
  /* border-bottom: 3px solid #5D4B33;*/
   padding: 10px;
 }
 .userList a {
  color: #333;
 }
 .userList i {
  font-size: 20px;
  color: #5D4B33;
 }
 .userList span {
   font-family: 'Roboto-Regular';
   font-size: 16px;
   text-transform: uppercase;
 }
 .subUL {
   border-top: 3px solid #5D4B33;
   margin-top: 10px;
   width: 100%;
 }
 .userDetail{
   font-size: 16px;
   font-weight: bold;
   vertical-align: bottom;
   margin-left: 10px;
 }
 .subUL ul li {
   border-bottom: 1px solid #F07818;
   height: 32px;
   font-size: 15px;
   text-transform: capitalize;
   position: relative;
   padding: 5px;
   margin-left: 10px
 }
 .subUL ul li:nth-child(3){
   border-bottom: 1px solid #F07818;
   height: 32px;
   font-size: 15px;
   text-transform: capitalize;
   position: relative;
   padding: 5px;
 }
 .subUL ul li a{
  color:#555;
 }

 /******MENU TOGGLE CSS *****/
  #brand {
    float: left;
    line-height: 50px;
    color: #E5DAC0;
    font-size: 25px;
    font-weight: bolder;
    margin: 0 0 0 6px;
  }
.menu {
  width: 276px;
  min-height: auto;
  margin-top: -130px;
  position: absolute;
  height: 0;
  background: #5D4B33;
  left: -10px;
  transition: all .3s ease-in-out;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  z-index: 1;
}
.menu-icon {
    padding: 10px 20px;
    background: #5D4B33;
    color: #fff;
    cursor: pointer;
    float: left;
    margin: -8px 6px 12px 0;
    border-radius: 0px;
    font-weight: normal;
    width: 100%;
    text-align: center;
}
#menuToggle { display: none; }

#menuToggle:checked ~ .menu { position: absolute; left: -50px; }

 .menu ul li {
   list-style: none;
   padding: 10px;
   color: #fff;
   .font-weight: normal;
 }
 .menu ul li:nth-child(3), .menu ul li:nth-child(4){
 /*  border-bottom: 3px solid #fff;*/
   padding: 10px;
 }
  .menu a {
  color: #f3f3f3;
 }
 .menu i {
  font-size: 20px;
 }
  .menu span {
   font-family: 'Roboto-Regular';
   font-size: 16px;
   text-transform: uppercase;
 }
 .menu .subUL {
   border-top: 3px solid #f3f3f3;
   margin-top: 10px;
   width: 100%;
 }
 .menu{
   font-size: 16px;
   font-weight: bold;
   vertical-align: bottom;
   margin-left: 10px;
 }
 .menu .subUL ul li {
   border-bottom: 1px solid #F07818;
   height: 32px;
   font-size: 15px;
   text-transform: capitalize;
   position: relative;
   padding: 5px;
   margin-left: 10px
 }
 .menu .subUL ul li:nth-child(3){
   border-bottom: 1px solid #F07818;
   height: 32px;
   font-size: 15px;
   text-transform: capitalize;
   position: relative;
   padding: 5px;
 }
 .menu .subUL ul li a{
  color:#f3f3f3;
  font-weight: normal;
 }





 /******END OF MENU TOGGLE***/
 .register-top-grid span, .register-bottom-grid span {
  color: #F07818;
 }
 #chngPwd{
   position: relative;
   top: 26px;
 }
 #editAddress{
   position: relative;
   top: 83px;
 }
 #viewOrders{
   position: relative;
   top:83px;
 }
 #editProfile{
   position: relative;
   top: 83px;
 }
 input#updateprofile, input#editAddr, input#chngpwd {
    border: 2px solid #F07818;
    color: #FFF;
    font-size: 1.1em;
    padding: 0.5em 2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    outline: none;
    background-color: #F07818;
}
input#updateprofile:hover, input#editAddr:hover, input#chngpwd:hover{
  background: #FFF;
  color: #F07818;
}
 .contact-form .form-group{
   width: 32.3%;
   float: left;
 }
 .contact-form input[type="text"]
 {
  width: 97%;
 }
 #textareaForm{
  width: 96%;
 }
 #emailInput{
  border:1px solid #555;
 }
 .orders table{
  width:100%;
 }
 .orders table tr th{
   border: 1px solid #ddd;
   width: auto;
   text-align: center;
   text-transform: uppercase;
   color:#F07818;
   padding:10px;
 }
 .orders tr td{
   border: 1px solid #ddd;
   width: auto;
   text-align: center;
   text-transform: capitalize;
   color:#333;
   padding:10px;
 }
 .orders div {
   width: 100%;
   border: 1px solid #ddd;
   padding: 7px;
   position: relative;
 }
 .orders div span{
   width: 20%;
   padding-left: 10px;
   padding-right: 10px;
 }

.paging-nav {
  text-align: right;
  padding-top: 2px;
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #F07818;
  color: white;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #fff;
  border: 1px solid #5D4B33;
  color: #5D4B33;
  font-weight: bold;
}
.orders div{
    border: 0px;
    text-align: center;
    margin-top: 10px;
}
table#allorders td a {
    cursor: pointer;
    color: #000;
    text-decoration: underline;
}
@media screen and (max-width: 600px) {
/** table or cart page **/
 table#allorders tbody td .tbcontent{
    width: 50%;
    float: right;
    display: inline !important;
  }

  table#allorders thead { display: none; }
  table#allorders tbody td { display: block; padding: .6rem; min-width:320px;}
  table#allorders tbody tr td:first-child {background-color: #5D4B33; color: #fff;/* border-bottom: 1px solid; */}
  table#allorders tbody tr td:first-child a {
    color: #fff; text-decoration: underline;
  }
  table#allorders tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block;
  }


}

/** LAPTOPS & DESKTOP SCREEN MEDIA QUERIES **/
@media (min-width:1280px) and (max-width:1801px){
  .userList span{
    font-size: 13px;
  }
  .subUL ul li a{
    font-size: 12.5px;
  }
  .register-top-grid span, .register-bottom-grid span{
    font-size: 12px;
  }
  input#updateprofile, input#editAddr, input#chngpwd{
    font-size: 1em
  }

  input#updateprofile:hover, input#editAddr:hover, input#chngpwd:hover{
    background-color: #fff;
    border-color: #5D4B33;
    color: #5D4B33;
  }
  .register-top-grid input[type="text"], .register-bottom-grid input[type="password"],#emailInput{
    font-size: 0.95em;
  }
  .orders table tr td{
    font-size: 12.5px;
  }
  .orders div span{
    font-size: 12.5px;
  }
}
@media (min-width:1025px) and (max-width:1080px){
  .userList span{
    font-size: 14px;
  }
  .userDetail{
    font-size: 15px;
  }
  .subUL ul li a{
    font-size: 14.5px;
  }
  .register-top-grid span, .register-bottom-grid span{
    font-size: 14px;
  }
  input#updateprofile, input#editAddr, input#chngpwd{
    font-size: 1em
  }

  input#updateprofile:hover, input#editAddr:hover, input#chngpwd:hover{
    background-color: #fff;
    border-color: #5D4B33;
    color: #5D4B33;
  }
  .register-top-grid input[type="text"], .register-bottom-grid input[type="password"],#emailInput{
    font-size: 1em;
  }
  .orders table tr td{
    font-size: 12.5px;
  }
  .orders div span{
    font-size: 12.5px;
  }
}
@media (min-width:992px) and (max-width:1024px){
  .userList span{
    font-size: 14px;
  }
  .userDetail{
    font-size: 15px;
  }
  .subUL ul li a{
    font-size: 14.5px;
  }
  .register-top-grid span, .register-bottom-grid span{
    font-size: 14px;
  }
  input#updateprofile, input#editAddr, input#chngpwd{
    font-size: 1em
  }

  input#updateprofile:hover, input#editAddr:hover, input#chngpwd:hover{
    background-color: #fff;
    border-color: #5D4B33;
    color: #5D4B33;
  }
  .register-top-grid input[type="text"], .register-bottom-grid input[type="password"],#emailInput{
    font-size: 1em;
  }
  .orders table tr td{
    font-size: 12.5px;
  }
  .orders div span{
    font-size: 12.5px;
  }
}
@media (min-width:901px) and (max-width:991px){
  .userList span{
    font-size: 14px;
  }
  .userDetail{
    font-size: 15px;
  }
  .subUL ul li a{
    font-size: 14.5px;
  }
  .register-top-grid span, .register-bottom-grid span{
    font-size: 14px;
  }
  input#updateprofile, input#editAddr, input#chngpwd{
    font-size: 1em
  }

  input#updateprofile:hover, input#editAddr:hover, input#chngpwd:hover{
    background-color: #fff;
    border-color: #5D4B33;
    color: #5D4B33;
  }
  .register-top-grid input[type="text"], .register-bottom-grid input[type="password"],#emailInput{
    font-size: 1em;
  }
  .orders table tr td{
    font-size: 12.5px;
  }
  .orders div span{
    font-size: 12.5px;
  }
}
@media (min-width:801px) and (max-width:900px){
  .userList span{
    font-size: 14px;
  }
  .userDetail{
    font-size: 15px;
  }
  .subUL ul li a{
    font-size: 14.5px;
  }
  .register-top-grid span, .register-bottom-grid span{
    font-size: 14px;
  }
  input#updateprofile, input#editAddr, input#chngpwd{
    font-size: 1em
  }

  input#updateprofile:hover, input#editAddr:hover, input#chngpwd:hover{
    background-color: #fff;
    border-color: #5D4B33;
    color: #5D4B33;
  }
  .register-top-grid input[type="text"], .register-bottom-grid input[type="password"],#emailInput{
    font-size: 1em;
  }
  .orders table tr td{
    font-size: 12.5px;
  }
  .orders div span{
    font-size: 12.5px;
  }
  #viewOrders{
    margin-bottom: 80px;
  }
}

/** MOBILE SCREEN MEDIA QUERIES **/
@media (max-width:320px){
  div#left-pane {
    border-right: 0px solid #C5C4C4;
    width: 100%;
    padding: 0px;
    min-height: 100px;
  }
  div#right-pane {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .about hr{
    margin-bottom: 20px;
  }
  #editProfile,#editAddress,#viewOrders{
    top:13px;
  }
  #chngPwd{
    top:10px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.95em;
  }
  input[type="submit"] {
    width: 70%;
  }
  #emailInput{
    width:100%;
  }
  table#allorders tbody td{
    min-width: 250px;
  }
  .orders table {
    width: 100%;
    margin: 0px 0px 10px -32px;
    font-size: 14px;
  }
  .orders div{
    border: 0px;
  }
  .paging-nav {
    text-align: center;
  }
  .menu {
    width: 220px;
  }
  #menuToggle:checked ~ .menu {
    position: absolute;
    left: -10px;
    margin-top: -130px;
  }
  .userList i{
    color: #fff;
  }
}
@media (min-width:321px) and (max-width: 360px){
  div#left-pane {
    border-right: 0px solid #C5C4C4;
    width: 100%;
    padding: 0px;
    min-height: 100px;
  }
  div#right-pane {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .about hr{
    margin-bottom: 20px;
  }
  #editProfile,#editAddress,#viewOrders{
    top:13px;
  }
  #chngPwd{
    top:10px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.95em;
  }
  input[type="submit"] {
    width: 78%;
  }
  #emailInput{
    width:100%;
  }
  .orders table {
    width: 100%;
    margin: 0px 0px 10px -32px;
    font-size: 14px;
  }
  .orders div {
      width: 100%;
      border: 0px solid #ddd;
      padding: 7px 0px;
      position: relative;
      text-align: center;
  }
  table#allorders tbody td{
    min-width: 290px;
  }
  .paging-nav {
    text-align: center;
  }
  form#chngPwdForm {
    margin-top: -48px;
  }
  .menu {
    width: 260px;
  }
  #menuToggle:checked ~ .menu {
    position: absolute;
    left: -10px;
    margin-top: -130px;
    height: auto;
  }
  .userList i{
    color: #fff;
  }
}
@media (min-width:361px) and (max-width: 375px){
  div#left-pane {
    border-right: 0px solid #C5C4C4;
    width: 100%;
    padding: 0px;
    min-height: 100px;
  }
  div#right-pane {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .about hr{
    margin-bottom: 20px;
  }
  #editProfile,#editAddress,#viewOrders{
    top:13px;
  }
  #chngPwd{
    top:10px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.95em;
  }
  input[type="submit"] {
    width: 78%;
  }
  #emailInput{
    width:100%;
  }
  .orders table {
    width: 100%;
    margin: 0px 0px 10px -32px;
    font-size: 14px;
  }
  .orders div {
      width: 100%;
      border: 0px solid #ddd;
      padding: 7px 0px;
      position: relative;
      text-align: center;
  }
  table#allorders tbody td{
    min-width: 310px;
  }
  .paging-nav {
    text-align: center;
  }
  .menu {
    width: 275px;
  }
  #menuToggle:checked ~ .menu {
    position: absolute;
    left: -10px;
    margin-top: -130px;
  }
  .userList i{
    color: #fff;
  }
}
@media (min-width:376px) and (max-width: 414px){
  div#left-pane {
    border-right: 0px solid #C5C4C4;
    width: 100%;
    padding: 0px;
    min-height: 100px;
  }
  div#right-pane {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .about hr{
    margin-bottom: 20px;
  }
  #editProfile,#editAddress,#viewOrders{
    top:13px;
  }
  #chngPwd{
    top:10px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.95em;
  }
  input[type="submit"] {
    width: 78%;
  }
  #emailInput{
    width:100%;
  }
  .orders table {
    width: 100%;
    margin: 0px 0px 10px -32px;
    font-size: 14px;
  }
  .orders div {
      width: 100%;
      border: 0px solid #ddd;
      padding: 7px 0px;
      position: relative;
      text-align: center;
  }
  table#allorders tbody td{
    min-width: 340px;
  }
  .paging-nav {
    text-align: center;
  }
  #menuToggle:checked ~ .menu {
    position: absolute;
    left: -10px;
    margin-top: -130px;
  }
  .menu{
    width:314px;
    left: -374px;
  }
  .userList i{
    color: #fff;
  }
}
@media (min-width:415px) and (max-width: 435px){
  div#left-pane {
    border-right: 0px solid #C5C4C4;
    width: 100%;
    padding: 0px;
    min-height: 100px;
  }
  div#right-pane {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .about hr{
    margin-bottom: 20px;
  }
  #editProfile,#editAddress,#viewOrders{
    top:13px;
  }
  #chngPwd{
    top:10px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.95em;
  }
  input[type="submit"] {
    width: 78%;
  }
  #emailInput{
    width:100%;
  }
  .orders table {
    width: 100%;
    margin: 0px 0px 10px -32px;
    font-size: 14px;
  }
  .orders div {
      width: 100%;
      border: 0px solid #ddd;
      padding: 7px 0px;
      position: relative;
      text-align: center;
  }
  table#allorders tbody td{
    min-width: 360px;
  }
  .paging-nav {
    text-align: center;
  }
  #menuToggle:checked ~ .menu {
    position: absolute;
    left: -10px;
    margin-top: -130px;
  }
  .menu{
    width: 335px;
    left:-395px;
  }
  .userList i{
    color: #fff;
  }
}
@media (min-width:436px) and (max-width: 480px){
  div#left-pane {
    border-right: 0px solid #C5C4C4;
    width: 100%;
    padding: 0px;
    min-height: 100px;
  }
  div#right-pane {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .about hr{
    margin-bottom: 20px;
  }
  #editProfile,#editAddress,#viewOrders{
    top:13px;
  }
  #chngPwd{
    top:10px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.95em;
  }
  input[type="submit"] {
    width: 78%;
  }
  #emailInput{
    width:100%;
  }
  .orders table {
    width: 100%;
    margin-left: -48px;
    font-size: 11px;
  }
  .userList span{
    font-size: 13px;
  }
  .subUL ul li, .subUL ul li:nth-child(3){
    font-size: 13px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.85em;
  }
  .form-control, .form-group{
    font-size: 13px;
  }
  input#updateprofile, input#editAddr, input#chngpwd{
    font-size: 0.95em;
  }
  .orders table {
    width: 100%;
    margin: 0px 0px 10px -32px;
    font-size: 14px;
  }
  .orders div {
      width: 100%;
      border: 0px solid #ddd;
      padding: 7px 0px;
      position: relative;
      text-align: center;
  }
  table#allorders tbody td{
    min-width: 410px;
  }
  .paging-nav {
    text-align: center;
  }
  .menu {
    width: 380px;
    left: -440px;
  }
    #menuToggle:checked ~ .menu {
    position: absolute;
    left: -10px;
    margin-top: -130px;
  }
  .userList i{
    color: #fff;
  }
}

/** TABLET SCREEN MEDIA QUERIES **/
@media (min-width:481px) and (max-width:568px){
  div#left-pane {
    border-right: 0px solid #C5C4C4;
    width: 100%;
    padding: 0px;
    min-height: 100px;
  }
  div#right-pane {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .about hr{
    margin-bottom: 20px;
  }
  #editProfile,#editAddress,#viewOrders{
    top:13px;
  }
  #chngPwd{
    top:10px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.95em;
  }
  input[type="submit"] {
    width: 50%;
  }
  .orders table {
    width: 100%;
    margin-left: -20px;
    font-size: 13px;
  }
  .userList span{
    font-size: 15px;
  }
  .subUL ul li, .subUL ul li:nth-child(3){
    font-size: 15px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 1em;
  }
  .form-control, .form-group{
    font-size: 15px;
  }
  input#updateprofile, input#editAddr, input#chngpwd{
    font-size: 1.1em;
  }
  .orders table {
    width: 100%;
    margin: 0px 0px 10px -32px;
    font-size: 14px;
  }
  .orders div {
      width: 100%;
      border: 0px solid #ddd;
      padding: 7px 0px;
      position: relative;
      text-align: center;
  }
  table#allorders tbody td{
    min-width: 490px;
  }
  .paging-nav {
    text-align: center;
  }
  .menu{
    width:468px;
    left:-528px;
  }
  #menuToggle:checked ~ .menu {
    position: absolute;
    left: -10px;
    margin-top: -130px;
  }
  .userList i{
    color: #fff;
  }
}
@media (min-width:569px) and (max-width:600px){
  div#left-pane {
    border-right: 0px solid #C5C4C4;
    width: 100%;
    padding: 0px;
    min-height: 100px;
  }
  div#right-pane {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .about hr{
    margin-bottom: 20px;
  }
  #editProfile,#editAddress,#viewOrders{
    top:13px;
  }
  #chngPwd{
    top:10px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.95em;
  }
  input[type="submit"] {
    width: 50%;
  }
  .orders table {
    width: 100%;
    margin-left: 0px;
    font-size: 13px;
  }
  .userList span{
    font-size: 15px;
  }
  .subUL ul li, .subUL ul li:nth-child(3){
    font-size: 15px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 1em;
  }
  .form-control, .form-group{
    font-size: 15px;
  }
  input#updateprofile, input#editAddr, input#chngpwd{
    font-size: 1.1em;
  }
  .menu{
    width:500px;
    left:-560px;
  }
  #menuToggle:checked ~ .menu {
    position: absolute;
    left: -10px;
    margin-top: -130px;
  }
  .userList i{
    color: #fff;
  }
}
@media (min-width:601px) and (max-width:640px){
  div#left-pane {
    border-right: 0px solid #C5C4C4;
    width: 100%;
    padding: 0px;
    min-height: 100px;
  }
  div#right-pane {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .about hr{
    margin-bottom: 20px;
  }
  #editProfile,#editAddress,#viewOrders{
    top:13px;
  }
  #chngPwd{
    top:10px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.95em;
  }
  input[type="submit"] {
    width: 50%;
  }
  .orders table {
    width: 100%;
    margin-left: 0px;
    font-size: 13px;
  }
  .userList span{
    font-size: 15px;
  }
  .subUL ul li, .subUL ul li:nth-child(3){
    font-size: 15px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 1em;
  }
  .form-control, .form-group{
    font-size: 15px;
  }
  input#updateprofile, input#editAddr, input#chngpwd{
    font-size: 1.1em;
  }
  .orders div{
    border: 0px;
    text-align: center;
  }
  .menu{
    width:540px;
    left:-600px;
  }
  #menuToggle:checked ~ .menu {
    position: absolute;
    left: -10px;
    margin-top: -130px;
  }
  .userList i{
    color: #fff;
  }
}
@media (min-width:641px) and (max-width:667px){
  div#left-pane {
    border-right: 0px solid #C5C4C4;
    width: 100%;
    padding: 0px;
    min-height: 100px;
  }
  div#right-pane {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .about hr{
    margin-bottom: 20px;
  }
  #editProfile,#editAddress,#viewOrders{
    top:13px;
  }
  #chngPwd{
    top:10px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.95em;
  }
  input[type="submit"] {
    width: 50%;
  }
  .orders table {
    width: 100%;
    margin-left: 0px;
    font-size: 13px;
  }
  .userList span{
    font-size: 15px;
  }
  .subUL ul li, .subUL ul li:nth-child(3){
    font-size: 15px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 1em;
  }
  .form-control, .form-group{
    font-size: 15px;
  }
  input#updateprofile, input#editAddr, input#chngpwd{
    font-size: 1.1em;
  }
  .orders div{
    border: 0px;
    text-align: center;
  }
  .menu{
    width:567px;
    left:-627px;
  }
  #menuToggle:checked ~ .menu {
    position: absolute;
    left: -10px;
    margin-top: -130px;
  }
  .userList i{
    color: #fff;
  }
}
@media (min-width:668px) and (max-width:731px){
  div#left-pane {
    border-right: 0px solid #C5C4C4;
    width: 100%;
    padding: 0px;
    min-height: 100px;
  }
  div#right-pane {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .about hr{
    margin-bottom: 20px;
  }
  #editProfile,#editAddress,#viewOrders{
    top:13px;
  }
  #chngPwd{
    top:10px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.95em;
  }
  input[type="submit"] {
    width: 30%;
  }
  .orders table {
    width: 100%;
    margin-left: 0px;
    font-size: 13px;
  }
  .userList span{
    font-size: 15px;
  }
  .subUL ul li, .subUL ul li:nth-child(3){
    font-size: 15px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 1em;
  }
  .form-control, .form-group{
    font-size: 15px;
  }
  input#updateprofile, input#editAddr, input#chngpwd{
    font-size: 1.1em;
  }
  .orders div{
    border: 0px;
    text-align: center;
  }
  .menu{
    width:583px;
    left:-643px;
  }
  #menuToggle:checked ~ .menu {
    position: absolute;
    left: -10px;
    margin-top: -130px;
  }
  .userList i{
    color: #fff;
  }
}
@media (min-width:732px) and (max-width:736px){
  div#left-pane {
    border-right: 0px solid #C5C4C4;
    width: 100%;
    padding: 0px;
    min-height: 100px;
  }
  div#right-pane {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .about hr{
    margin-bottom: 20px;
  }
  #editProfile,#editAddress,#viewOrders{
    top:13px;
  }
  #chngPwd{
    top:10px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.95em;
  }
  input[type="submit"] {
    width: 30%;
  }
  .orders table {
    width: 100%;
    margin-left: 0px;
    font-size: 13px;
  }
  .userList span{
    font-size: 15px;
  }
  .subUL ul li, .subUL ul li:nth-child(3){
    font-size: 15px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 1em;
  }
  .form-control, .form-group{
    font-size: 15px;
  }
  input#updateprofile, input#editAddr, input#chngpwd{
    font-size: 1.1em;
  }
  .orders div{
    border: 0px;
    text-align: center;
  }
  .menu{
    width:636px;
    left:-696px;
  }
  #menuToggle:checked ~ .menu {
    position: absolute;
    left: -10px;
    margin-top: -130px;
  }
  .userList i{
    color: #fff;
  }
}
@media (min-width:737px) and (max-width:773px){
  .about hr{
    margin-bottom: 20px;
  }
  #editProfile,#editAddress,#viewOrders{
    top:13px;
  }
  #chngPwd{
    top:10px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.95em;
  }
  input[type="submit"] {
    width: auto;
  }
  .orders table {
    width: 100%;
    margin-left: -10px;
    font-size: 13px;
  }
  .userList span{
    font-size: 15px;
  }
  .subUL ul li, .subUL ul li:nth-child(3){
    font-size: 15px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 1em;
  }
  .form-control, .form-group{
    font-size: 15px;
  }
  input#updateprofile, input#editAddr, input#chngpwd{
    font-size: 1.1em;
  }
  .orders div{
    border: 0px;
    text-align: center;
  }
}
@media (min-width:774px) and (max-width:800px){
  .about hr{
    margin-bottom: 20px;
  }
  #editProfile,#editAddress,#viewOrders{
    top:13px;
  }
  #chngPwd{
    top:10px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 0.95em;
  }
  input[type="submit"] {
    width: auto;
  }
  .orders table {
    width: 100%;
    margin-left: -10px;
    font-size: 13px;
  }
  .userList span{
    font-size: 15px;
  }
  .subUL ul li, .subUL ul li:nth-child(3){
    font-size: 15px;
  }
  .register-top-grid span, .register-bottom-grid span {
    font-size: 1em;
  }
  .form-control, .form-group{
    font-size: 15px;
  }
  input#updateprofile, input#editAddr, input#chngpwd{
    font-size: 1.1em;
  }
  .orders div{
    border: 0px;
    text-align: center;
  }
}