.menu-icon {
    padding: 10px 20px;
    background: #5D4B33;
    color: #fff;
    cursor: pointer;
    float: left;
    margin: -8px 6px 12px 0;
    border-radius: 0px;
    font-weight: normal;
    width: 100%;
    text-align: center;
}
#filterToggle {display: none;}

