#regForm #register {
  background: #F07818;
  color: #fff;
  font-size: 1em;
  padding: 5px 20px;
  border: 1px solid #F07818;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  font-family: 'Roboto-Regular';
}
  #regForm #register:hover {
  background: #fff;
  color: #F07818;
}
label{
  margin: 0 0px 0 4px;
}
.register-top-grid span, .register-bottom-grid span{
  color: #F07818;
}
