.single{
  margin-bottom: -92px;
}
.single h2{
  margin-top: 65px;
  font-size: 3.5em;
}
.single hr{
  margin-bottom: -30px;
}
.single-grid h3{
  font-size: 2.2em;
}
.single-grid p{
  text-align: justify;
}
.single-grid h5{
  padding:15px 0;
}
.single {
    margin-bottom: 0px;
}
.related-products h3{
  margin: -35px 0px;
}
h4.panel-title a{
  color: #F07818;
}
.panel-default > .panel-heading{
  background-color: transparent;
  border-color:transparent;
}
.panel{
  border:0px;
  box-shadow: none;
  text-align: justify;
}
.single-grid.simpleCart_shelfItem{
    border-right: 1px solid #eee;
  }

  .product-model-sec {
    margin: 4em 0 0 0;
    /* float: right; */
}
