
/** LAPTOP & DESKTOPS SCREEN MEDIA QUERIES **/
@media (min-width:1281px) and (max-width:1366px){
  .single {
      margin-bottom: -105px;
  }
  .single h2{
    font-size: 3em;
  }
  .related-products h3 {
    margin: -45px 0px -35px 0px;
  }
  .related-products .product-img img{
    padding:4em;
  }
}
@media (min-width:1081px) and (max-width:1280px){
  .single {
      margin-bottom: -105px;
  }
  .single h2{
    font-size: 3em;
  }
  .related-products h3 {
    margin: -45px 0px -35px 0px;
  }
  .related-products .product-img img{
    padding:4em;
  }
  .panel-body{
    font-size: 0.95em;
  }
}
@media (min-width:1025px) and (max-width:1080px){
 .single h2{
    font-size: 3.5em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single-grid p{
    font-size: 1.1em;
  }
  .panel-body {
    font-size: 14.5px;
  }
  ul.size li a{
    font-size: 15px;
  }
  .btn_form a{
    font-size: 0.9em;
  }
  ul.size h3{
    font-size: 1.5em;
  }
  .panel-title {
    font-size: 16px;
    line-height: 1.2em;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
  }
  .related-products h4 {
    font-size: 0.95em;
  }
  .related-products .product-model-sec{
        margin: 2em 0 0 0;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .single-grid h5 {
    font-size: 1em;
  }
  /*.product-info-cust h4{
    font-size: 0.75em;
  }*/
  span.item_price{
    font-size: 0.95em;
  }
}
@media (min-width:992px) and (max-width:1024px){
 .single h2{
    font-size: 3.5em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single-grid p{
    font-size: 1.1em;
  }
  .panel-body {
    font-size: 14.5px;
  }
  ul.size li a{
    font-size: 15px;
  }
  .btn_form a{
    font-size: 0.9em;
  }
  ul.size h3{
    font-size: 1.5em;
  }
  .panel-title {
    font-size: 16px;
    line-height: 1.2em;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
  }
  .related-products h4 {
    font-size: 0.95em;
  }
  .related-products .product-model-sec{
        margin: -3em 0 0 0;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .single-grid h5 {
    font-size: 1em;
  }
  span.item_price{
    font-size: 0.95em;
  }
}
@media (min-width:901px) and (max-width:991px){
 .single h2{
    font-size: 3.5em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single .single-grid{
    width: 30%
  }
  .single-grid p{
    font-size: 1.1em;
    padding-right: 6px;
  }
  .panel-body {
    font-size: 14.5px;
  }
  ul.size li a{
    font-size: 15px;
  }
  .btn_form a{
    font-size: 0.9em;
  }
  ul.size h3{
    font-size: 1.5em;
  }
  .panel-title {
    font-size: 16px;
    line-height: 1.2em;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
  }
  .related-products h4 {
    font-size: 0.95em;
  }
  .related-products .product-model-sec{
        margin: 1em 0 0 0;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .single-grid h5 {
    font-size: 1em;
  }
  span.item_price{
    font-size: 0.95em;
  }
}
@media (min-width:801px) and (max-width:900px){
 .single h2{
    font-size: 3.5em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single .single-grid{
    width: 50%
  }
  .single-grid p{
    font-size: 1.1em;
    padding-right: 6px;
  }
  .single-grid.simpleCart_shelfItem {
    border-right: 0px solid #eee;
  }
  .panel-body {
    font-size: 14.5px;
  }
  ul.size li a{
    font-size: 15px;
  }
  .btn_form a{
    font-size: 0.9em;
  }
  ul.size h3{
    font-size: 1.5em;
  }
  .panel-title {
    font-size: 18px;
    line-height: 1.2em;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
  }
  .related-products h4 {
    font-size: 0.95em;
  }
  .related-products .product-model-sec{
        margin: 1em 0 0 0;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .single-grid h5 {
    font-size: 1em;
  }
  span.item_price{
    font-size: 0.95em;
  }
}
/** MOBILE SCREEN MEDIA QUERIES **/
@media (max-width:320px){
  .single h2{
    font-size: 3em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single-grid h3 {
    font-size: 2em;
    margin-top: -50px;
    margin-bottom: 0px;
  }
  .single-grid.simpleCart_shelfItem{
    border-right: 0px solid #eee;
    width: 100%;
  }
  .single-grid p,.panel-body {
    font-size: 0.95em;
    padding: 5px 0px 5px 0px;
  }
  ul.size li a{
    font-size: 1em;
  }
  .btn_form a{
    font-size: 0.95em;
  }
  ul.size h3{
    font-size: 1.3em;
  }
  .panel-title {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .single-grid {
    width: 100%;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
    font-size: 3em;
    position: relative;
    top: -80px;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .product-model-sec {
    margin: -4em 0 0 0;
  }
}
@media (min-width:321px) and (max-width:360px){
  .single h2{
    font-size: 3em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single-grid.simpleCart_shelfItem{
    border-right: 0px solid #eee;
    width: 100%;
    margin-top: -45px;
  }
  .single-grid p,.panel-body {
    font-size: 0.95em;
  }
  ul.size li a{
    font-size: 1em;
  }
  .btn_form a{
    font-size: 0.95em;
  }
  ul.size h3{
    font-size: 1.3em;
  }
  .panel-title {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .single-grid {
    width: 100%;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
    position: relative;
    top: -73px;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .product-model-sec {
    margin: -4em 0 0 0;
  }
}
@media (min-width:361px) and (max-width:375px){
  .single h2{
    font-size: 3em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single-grid.simpleCart_shelfItem{
    border-right: 0px solid #eee;
    width: 100%;
    margin-top: -40px;
  }
  .single-grid p,.panel-body {
    font-size: 0.95em;
  }
  ul.size li a{
    font-size: 1em;
  }
  .btn_form a{
    font-size: 0.95em;
  }
  ul.size h3{
    font-size: 1.3em;
  }
  .panel-title {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .single-grid {
    width: 100%;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
    font-size: 3em;
    position: relative;
    top: -75px;
  }
  .product-model-sec{
    margin: -4em 0px 0px 0px;
  }
  .related-products .product-img img{
    padding: 1em;
  }
}
@media (min-width:376px) and (max-width:414px){
  .single h2{
    font-size: 3em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single-grid.simpleCart_shelfItem{
    border-right: 0px solid #eee;
    width: 100%;
    margin-top: -45px;
  }
  .single-grid p,.panel-body {
    font-size: 0.95em;
  }
  ul.size li a{
    font-size: 1em;
  }
  .btn_form a{
    font-size: 0.95em;
  }
  ul.size h3{
    font-size: 1.3em;
  }
  .panel-title {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .single-grid {
    width: 100%;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
      margin: 0px 0px;
      font-size: 3em;
      position: relative;
      top: -75px;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .product-model-sec{       
        margin: -4em 0 0 0; 
    }
}
@media (min-width:415px) and (max-width:435px){
  .single h2{
    font-size: 3em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single-grid.simpleCart_shelfItem{
    border-right: 0px solid #eee;
    width: 100%;
    margin-top: -45px;
  }
  .single-grid {
    width: 100%;
  }
  .single-grid p,.panel-body {
    font-size: 0.95em;
  }
  ul.size li a{
    font-size: 1em;
  }
  .btn_form a{
    font-size: 0.95em;
  }
  ul.size h3{
    font-size: 1.3em;
  }
  .panel-title {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
    position: relative;
    top: -65px;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .product-model-sec {
    margin: -4em 0 0 0;
  }
}
@media (min-width:436px) and (max-width:480px){
  .single h2{
    font-size: 3em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single-grid {
    width: 100%;
  }
  .single-grid.simpleCart_shelfItem{
    border-right: 0px solid #eee;
    width: 100%;
    margin-top: -45px;
  }
  .single-grid p,.panel-body {
    font-size: 0.95em;
  }
  ul.size li a{
    font-size: 0.95em;
  }
  .btn_form a{
    font-size: 0.95em;
  }
  ul.size h3{
    font-size: 1.5em;
  }
  .panel-title {
    font-size: 1.5em;
    line-height: 1.2em;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
    position: relative;
    top: -68px;
    font-size: 3em;
  }
  .product-model-sec {
    margin: -4em 0 0 0;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .single-grid h5 {
    font-size: 0.95em;
  }
  .product-info-cust h4{
    font-size: 0.8em;
  }
  span.item_price{
    font-size: 0.95em;
  }
}

/** TABLET SCREEN MEDIA QUERIES **/
@media (min-width:481px) and (max-width:568px){
 .single h2{
    font-size: 3.5em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single-grid {
    width: 100%;
  }
  .single-grid.simpleCart_shelfItem{
    border-right: 0px solid #eee;
    width: 100%;
    margin-top: -45px;
  }
  .single-grid p,.panel-body {
    font-size: 1em;
  }
  ul.size li a{
    font-size: 1.1em;
  }
  .btn_form a{
    font-size: 1.1em;
  }
  ul.size h3{
    font-size: 1.5em;
  }
  .panel-title {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
    position: relative;
    top: -75px;
    font-size: 3em;    
  }
  .related-products .product-img img{
    padding: 0em;
  }
  .single-grid h5 {
    font-size: 1em;
  }
  .product-info-cust h4{
    font-size: 0.85em;
  }
  span.item_price{
    font-size: 0.95em;
  }
  .product-model-sec {
    margin: -4em 0 0 0;
  }
}
@media (min-width:569px) and (max-width:600px){
 .single h2{
    font-size: 3.5em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single-grid {
    width: 100%;
  }
  .single-grid.simpleCart_shelfItem{
    border-right: 0px solid #eee;
    width: 100%;
    margin-top: -45px;
  }
  .single-grid p,.panel-body {
    font-size: 1em;
  }
  ul.size li a{
    font-size: 1.1em;
  }
  .btn_form a{
    font-size: 1.1em;
  }
  ul.size h3{
    font-size: 1.5em;
  }
  .panel-title {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
    position: relative;
    top: -75px;
  }
  .product-model-sec {
    margin: -4em 0 0 0;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .single-grid h5 {
    font-size: 1em;
  }
  .product-info-cust h4{
    font-size: 0.8em;
  }
  span.item_price{
    font-size: 0.85em;
  }
}
@media (min-width:601px) and (max-width:640px){
 .single h2{
    font-size: 3.5em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single-grid {
    width: 100%;
  }
  .single-grid.simpleCart_shelfItem{
    border-right: 0px solid #eee;
    width: 100%;
    margin-top: -45px;
  }
  .single-grid p,.panel-body {
    font-size: 1em;
  }
  ul.size li a{
    font-size: 1.1em;
  }
  .btn_form a{
    font-size: 1.1em;
  }
  ul.size h3{
    font-size: 1.5em;
  }
  .panel-title {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
    position: relative;
    top: -75px;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .single-grid h5 {
    font-size: 1em;
  }
  .product-info-cust h4{
    font-size: 0.7em;
  }
  span.item_price{
    font-size: 0.85em;
  }
  .product-model-sec {
    margin: -4em 0 0 0;
  }
}
@media (min-width:641px) and (max-width:667px){
 .single h2{
    font-size: 3.5em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single-grid {
    width: 100%;
  }
  .single-grid.simpleCart_shelfItem{
    border-right: 0px solid #eee;
    width: 100%;
    margin-top: -45px;
  }
  .single-grid p,.panel-body {
    font-size: 1.1em;
  }
  ul.size li a{
    font-size: 1.2em;
  }
  .btn_form a{
    font-size: 1.2em;
  }
  ul.size h3{
    font-size: 1.5em;
  }
  .panel-title {
    font-size: 1.4em;
    line-height: 1.2em;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
    position: relative;
    top: -75px;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .single-grid h5 {
    font-size: 1em;
  }
  .product-info-cust h4{
    font-size: 0.77em;
  }
  span.item_price{
    font-size: 0.95em;
  }
  .product-model-sec {
    margin: -4em 0 0 0;
  } 
}
@media (min-width:668px) and (max-width:731px){
 .single h2{
    font-size: 3.5em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single-grid {
    width: 100%;
  }
  .single-grid.simpleCart_shelfItem{
    border-right: 0px solid #eee;
    width: 100%;
    margin-top: -45px;
  }
  .single-grid p,.panel-body {
    font-size: 1.1em;
  }
  ul.size li a{
    font-size: 1.2em;
  }
  .btn_form a{
    font-size: 1em;
  }
  ul.size h3{
    font-size: 1.5em;
  }
  .panel-title {
    font-size: 1.4em;
    line-height: 1.2em;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
    position: relative;
    top: -75px;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .single-grid h5 {
    font-size: 1em;
  }
  .product-info-cust h4{
    font-size: 0.77em;
  }
  span.item_price{
    font-size: 0.95em;
  }
  .product-model-sec {
    margin: -4em 0 0 0;
  } 
}
@media (min-width:732px) and (max-width:736px){
 .single h2{
    font-size: 3.5em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  .single-grid {
    width: 100%;
  }
  .single-grid.simpleCart_shelfItem{
    border-right: 0px solid #eee;
    width: 100%;
    margin-top: -45px;
  }
  .single-grid p,.panel-body {
    font-size: 1.1em;
  }
  ul.size li a{
    font-size: 1.2em;
  }
  .btn_form a{
    font-size: 1em;
  }
  ul.size h3{
    font-size: 1.5em;
  }
  .panel-title {
    font-size: 1.4em;
    line-height: 1.2em;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
    position: relative;
    top: -75px;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .single-grid h5 {
    font-size: 1em;
  }
  .product-info-cust h4{
    font-size: 0.85em;
  }
  span.item_price{
    font-size: 0.95em;
  }
  .product-model-sec {
    margin: -4em 0 0 0;
  } 
}
@media (min-width:737px) and (max-width:773px){
 .single h2{
    font-size: 3.5em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  /*.single-grid {
    width: 100%;
  }
  .single-grid.simpleCart_shelfItem{
    border-right: 0px solid #eee;
    width: 100%;
    margin-top: -45px;
  }*/
  .single-grid p{
    font-size: 1em;
  }
  .panel-body {
    font-size: 12.5px;
  }
  ul.size li a{
    font-size: 14px;
  }
  .btn_form a{
    font-size: 0.9em;
  }
  ul.size h3{
    font-size: 1.5em;
  }
  .panel-title {
    font-size: 16px;
    line-height: 1.2em;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
    position: relative;
    top: -75px;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .single-grid h5 {
    font-size: 1em;
  }
  .product-info-cust h4{
    font-size: 0.85em;
  }
  span.item_price{
    font-size: 0.95em;
  }
  .product-model-sec {
    margin: -4em 0 0 0;
  } 
}
@media (min-width:774px) and (max-width:800px){
 .single h2{
    font-size: 3.5em;
  }
  .single hr{
    margin-bottom: 0px;
  }
  /*.single-grid {
    width: 100%;
  }
  .single-grid.simpleCart_shelfItem{
    border-right: 0px solid #eee;
    width: 100%;
  }*/
  .single-grid p{
    font-size: 1em;
  }
  .panel-body {
    font-size: 12.5px;
  }
  ul.size li a{
    font-size: 14px;
  }
  .btn_form a{
    font-size: 0.9em;
  }
  ul.size h3{
    font-size: 1.2em;
  }
  .panel-title {
    font-size: 16px;
    line-height: 1.2em;
  }
  .single-grid1{
    margin-bottom: 75px;
  }
  .related-products h3 {
    margin: 0px 0px;
    position: relative;
    top: -75px;
  }
  .related-products .product-img img{
    padding: 1em;
  }
  .single-grid h5 {
    font-size: 1em;
  }
  .product-info-cust h4{
    font-size: 0.85em;
  }
  span.item_price{
    font-size: 0.95em;
  }
  .product-model-sec {
    margin: -4em 0 0 0;
  } 
}