.contact h2 {
    font-size: 3.5em;
  }
.chkBtn {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
input#support:hover {
    background-color: #fff;
    color: #5D4B33;
    border-color: #5D4B33;
}
.contact-form #selectGrp {
  width: 15%;
  float: left;
  position: relative;
}
.contact-form .form-group {
  width: 28.3%;
  float: left;
  position: relative;
}
.contact-form input[type="text"] {
  width:97%;
}
.contact-form input[type="text"]:nth-child(2) {
  margin: 0 1em;
}
.contact-form .form-group#textareaForm {
  width:99%;
}
.contact-form select {
  display: inline-block;
  background: #fff;
  border: 1px solid #5D4B33;
  width: 88%;
  outline: none;
  padding: 6px 6px 6px 12px;
  font-size: 13px;
  color: #999;
  margin-bottom: 1.5em;
  border-radius: 4px;
  height: 35px;
}
  .contact{
    padding:4em 0 0 0 ;

  }
  .contact-form select{
    width: 96%;
    font-size: 12.5px;
  }
  .contact-form input[type="text"], .contact-form textarea{
    font-size: 12.5px;
  }
  .contact hr {
    margin-bottom: 10px;
  }
@media (min-width:1367px) and (max-width:1440px){
  .contact{
  padding:4em 0 0 0 ;

  }
  .contact-form select{
    width: 96%;
    font-size: 12.5px;
  }
  .contact-form input[type="text"], .contact-form textarea{
    font-size: 12.5px;
  }
  .contact hr {
        margin-bottom: 10px;
    }
    .contact h2{
        font-size: 3em;
    }

}
@media (min-width:1281px) and (max-width:1366px){
  .contact{
  padding:4em 0 0 0 ;

  }
  .contact-form select{
    width: 96%;
    font-size: 12.5px;
  }
  .contact-form input[type="text"], .contact-form textarea{
    font-size: 12.5px;
  }
  .contact hr {
        margin-bottom: 10px;
    }
    .contact h2{
        font-size: 3em;
    }

}
@media (min-width:1801px) and (max-width:1280px){

.contact{
  padding:4em 0 0 0 ;

}
.contact-form input[type="text"], .contact-form textarea{
    font-size: 12.5px;
  }
.contact hr {
        margin-bottom: 10px;
    }
    .contact h2{
        font-size: 3em;
    }
}