.chkBtn {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.contact-form #selectGrp {
  width: 15%;
  float: left;
  position: relative;
}
.contact-form .form-group {
  width: 27.3%;
  float: left;
  position: relative;
}
.contact-form input[type="text"] {
  width:97%;
}
.contact-form input[type="text"]:nth-child(2) {
  margin: 0 1em;
}
.contact-form .form-group#textareaForm {
  width:96%;
}
.contact-form select {
  display: inline-block;
  background: #fff;
  border: 1px solid #5D4B33;
  width: 88%;
  outline: none;
  padding: 6px 6px 6px 12px;
  font-size: 13px;
  color: #999;
  margin-bottom: 1.5em;
  border-radius: 4px;
  height: 35px;
}

@media(max-width:1366px){
  .contact-form select{
    width: 96%;
    font-size: 14.5px;
  }
  .contact-form input[type="text"], .contact-form textarea{
    font-size: 14.5px;
  }
}