<div ng-app="cdesign" id="mainContainer" resizable>
   <div ng-controller="MainController as main">
   <!-- <div id="loading-bar-spinner" ng-hide="loaded"><div class="spinner-icon"></div></div> -->

   <div class="sk-cube-grid" ng-hide="loaded">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>


      <div ng-cloak="" ng-show="loaded">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="page-header">Being Picky Was Never So Fun!!!</h3>
            <!-- <p class="page-content">DESIGNING WAS NEVER SO EASY!  NEVER SO FUN! ITS SIMPLE…. YOU DESIGN, WE DELIVER.</p> -->
         </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         </div>
         <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
               <div class="row">
                  <div class="avlOptions col-lg-4 col-md-4 col-sm-3 col-xs-12">
                     <div class="bgProduct">
                        <i class="fa fa-question-circle" ng-click="showHelp();"></i>

                        <div class="designDiv">
                           <figure class='star' style="left:33px; top: 7px;"><figure class='star-top'></figure><figure class='star-bottom'></figure></figure>
                           <div class="prd_elements elements{{$index}}" ng-repeat="imgItem in mySelectedItems track by $index" prd-position selected-item="imgItem" level="designLevel">
                           <!-- <zoom mark-height="20" mark-width="20" src="main.addImage(imgItem)" zoom-lvl="3"></zoom> -->
                              <img  ng-src="{{siteUrl}}productImages/{{imgItem.selectedImage}}" />
                           </div>
                           <div class="clearfix"></div>
                        </div>


                            <!-- all the messages come here -->
                          <div ng-if="feedbackMsg != ''"  role="alert" class="bubble feedback animated fadeOutLeft ">
                                    <span>{{feedbackMsg}}</span>
                           </div>


                           <div ng-if="designLevel == 0 && !productAdded"  role="alert" class="bubble animated fadeOutLeft ">
                                    <span ng-if="startType == 'stud'">  &nbsp;Explore our range of studs , dont forget to click + and see all options.</span>
                                    <span ng-if="startType == 'jhumka'">
                                       &nbsp;Choose a top or hook for your jhumka.
                                    </span>
                                    <span ng-if="startType == 'hoop'">&nbsp;Start by choosing a hoop.</span>
                                    <span ng-if="startType == 'chandelier'">  &nbsp;Start by choosing a hook or top for you chandelier.</span>
                                    <span ng-if="startType == 'dangler'"> &nbsp;Start by choosing a hook or top for you dangler.</span>
                           </div>
                           <div ng-if="designLevel == 1 && mySelectedItems[designLevel].bottompoints != 0 && !productAdded" role="alert" class="bubble animated fadeOutLeft  ">
                                    <span ng-if="startType == 'jhumka'">&nbsp;Wonderful! Now choose a design to add below your jhumka.</span>
                                    <span ng-if="startType == 'hoop'">&nbsp;Wonderful! Now choose a design to match below your hoop.</span>
                                   <span ng-if="startType == 'chandelier'"> &nbsp;Wonderful! Now choose a design from below, don't forget to click + and see all options.</span>
                                    <span  ng-if="startType == 'dangler'" >&nbsp;Wonderful! Now choose a design from below, don't forget to click + and see all options. Add to cart if you like your design.</span>
                           </div>
                           <div ng-if="designLevel == 2 && mySelectedItems[designLevel].bottompoints != 0 && !productAdded" role="alert" class="bubble animated fadeOutLeft  " id="alertDiv3">
                                 <span>Would you like to decorate it more? Go on choose another design. Add to cart if you like your design. </span>
                           </div>
                           <div ng-if="designLevel == 3 && mySelectedItems[designLevel].bottompoints != 0 && !productAdded" role="alert" class="bubble animated fadeOutLeft  ">
                                 <span>Good going! Pick what you like from below one final time if you want to add more.</span>
                           </div>
                           <div ng-if="mySelectedItems[designLevel].bottompoints == 0 &&  !productAdded" role="alert" class="bubble animated fadeOutLeft  ">
                              <span>Looks great! no further attachments can be made. Finalize personalized {{startType }} to cart! </span>
                           </div>
                           <div ng-if="productAdded" role="alert" class="bubble animated fadeOutLeft  ">
                               <span><i class="fa fa-check-circle"></i> Your Design Added successfully to the Cart.</span>
                           </div>
                        <!-- messages ends here -->



                        <i class="fa fa-check-circle" ng-if="startType != 'stud'" ng-hide="nextDisable() || productAdded" ng-click="updateLevel()"></i> &nbsp; &nbsp;

                        <!-- <span><span>&#8675;</span> color options are here!</span> -->
                     </div>
                     <div id="imgOptions" class="designOptions">
                     <h4>{{mySelectedItems[designLevel].name}}</h4>
                        <div ng-if="levelFilled" class="aelements">
                           <img ng-src="{{siteUrl}}productImages/{{mySelectedItems[designLevel].carouselImg}}"  ng-click="selectImage(mySelectedItems[designLevel].carouselImg, false);" />
                        </div>
                        <div class="aelements" ng-repeat="altItem in mySelectedItems[prdIndex[designLevel][0]].images">
                           <img ng-src="{{siteUrl}}productImages/{{altItem.imagefile}}"  ng-click="selectImage(altItem.imagefile, false);" />
                        </div>
                        <div class="clearfix"></div>
                     </div>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12" id="subElementDiv">
                     <div class="elements" id="sampleImgs">
                        <a href="javascript:void(0)" onclick="$('.white_content').hide(); $('.black_overlay').hide(); $('.lightboxClose').hide(); " class="lightboxClose"><i class="fa fa-times-circle"></i></a>
                        <div id="subElementsDiv">
                              <h4>Teracotta Designs</h4>
                           <div class="pr-ribbon">
                              <!-- <h4>Teracotta Options<j/h4> -->
                              <div class="product-grid elem" ng-repeat="imgElem in terracota = (filteredSet | category:1) | limitTo:numDisp">
                                 <div class="product-img">
                                    <img ng-src="{{siteUrl}}productImages/{{imgElem.carouselImg}}" alt="" ng-click="selectImage(imgElem,  true);">
                                 </div>
                              </div>

                                 <div  class="moreoptions">
                                    <p>
                                       <a  ng-if="terracota.length > 3"  href = "javascript:void(0)" onclick = "openOverlay(0);"> <span>See More</span><br/><i class="fa fa-plus placeholdit"></i> </a>
                                    </p>
                                 </div>

                              <div class="clearfix"></div>
                           </div>
                           <div id="light" class="white_content">
                              <!-- <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><i class="fa fa-times-circle"></i></a> -->
                              <div ng-repeat="imgElem in filteredSet | category:1" class="popupImageDiv">
                                 <img ng-src="{{siteUrl}}productImages/{{imgElem.carouselImg}}" alt="" ng-click="selectImage(imgElem,  true);">
                              </div>
                           </div>
                           <div id="fade" class="black_overlay">	</div>
                              <br>
                              <h4>Metal Designs</h4>
                           <div class="pr-ribbon">
                              <!-- <h4>Metals Options</h4> -->
                              <div class="product-grid elem" ng-repeat="imgElem in metal= (filteredSet | category:3) | limitTo:numDisp">
                                 <div class="product-img">
                                    <img ng-src="{{siteUrl}}productImages/{{imgElem.carouselImg}}" alt="" ng-click="selectImage(imgElem,  true);">
                                 </div>
                              </div>

                                 <div  class="moreoptions">
                                    <p>
                                       <a ng-if="metal.length > 3" href = "javascript:void(0)" onclick = "openOverlay(2);"> <span >See More</span><br/><i class="fa fa-plus placeholdit"></i></a>
                                    </p>
                                 </div>

                              <div class="clearfix"></div>
                           </div>
                           <div id="light2" class="white_content">
                              <!-- <a href = "javascript:void(0)" onclick = "document.getElementById('light2').style.display='none';document.getElementById('fade2').style.display='none'">Close</a><br/> -->
                              <div ng-repeat="imgElem in filteredSet | category:3" class="popupImageDiv">
                                 <img   ng-src="{{siteUrl}}productImages/{{imgElem.carouselImg}}" alt="" ng-click="selectImage(imgElem,  true);">
                              </div>
                           </div>
                           <div id="fade2" class="black_overlay"></div>
                              <br>
                              <h4>Beaded Designs</h4>
                           <div class="pr-ribbon" ng-if="(filteredSet | category:2).length > 0">
                                 <!-- <h4>Beaded Options</h4> -->
                                 <div class="product-grid elem" ng-repeat="imgElem in beaded = (filteredSet | category:2) | limitTo:numDisp">
                                    <div class="product-img">
                                       <img ng-src="{{siteUrl}}productImages/{{imgElem.carouselImg}}" alt="" ng-click="selectImage(imgElem,  true);">
                                    </div>
                                 </div>
                                 <div  class="moreoptions">
                                       <p >
                                          <a ng-if="beaded.length > 3" href = "javascript:void(0)" onclick = "openOverlay(1);">
                                           <span >See More</span><br/><i class="fa fa-plus placeholdit"></i></a>
                                       </p>
                                    </div>
                           </div>

                                 <div class="clearfix"></div>
                              <div id="light1" class="white_content">
                                 <!-- <a href = "javascript:void(0)" onclick = "document.getElementById('light1').style.display='none';document.getElementById('fade1').style.display='none'">Close</a><br/> -->
                                 <div ng-repeat="imgElem in filteredSet | category:2" class="popupImageDiv">
                                    <img  ng-src="{{siteUrl}}productImages/{{imgElem.carouselImg}}" alt="" ng-click="selectImage(imgElem,  true);">
                                 </div>
                              </div>
                              <div id="fade1" class="black_overlay"></div>

                        </div>

                        <div ng-hide="startType == 'stud'" id="chkBtn" style="text-align:left;">
                          <button type="button" ng-if="mySelectedItems.length > 0"  class="btn btn-primary pull-right" ng-click="resetDesign()" style="margin-left: 15px;">Start Over</button>
                           <button type="button" ng-hide="designLevel == 0 || productAdded"  class="btn btn-primary pull-right" ng-click="gobackLevel()">Go Back</button>

                        </div>

                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
               <div id="designDet" class="cart-items col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <h4>You Design we Deliver</h4>
                  <div style="text-align: center;">
                     <p style="text-align: center;font-size: 25px;"> {{designPrice | currency:"&#8377":2}}</p>
                     <button  style="margin-top: 10px;"  ng-click="processForm()" ng-show="showCartbtn && !productAdded" class="addtoCart">Finalize Earring</button>

                  </div>
               </div>
               <div id="designerPick" ng-if="designerPicks.length > 0" class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <h4 style="background-color:#5D4B33">Designer's pick for you</h4>
                  <div class="product-grid despick" ng-repeat="despick in designerPicks">
                     <a target="_blank" ng-href="{{siteUrl}}index.php?single&amp;id={{despick['productid']}}">
                        <div class="more-product"><span> </span></div>
                        <div class="product-img b-link-stripe b-animate-go  thickbox">
                           <img ng-src="{{siteUrl}}/productImages/{{despick['mainimg']}}" />
                           <div class="b-wrapper">
                              <h4 class="b-animate b-from-left  b-delay03">
                                 <button>View</button>
                              </h4>
                           </div>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>

      <!-- show custom designs here -->
      <div ng-if="customizedEarrings.length > 0" class="row">
         <div  class="col-lg-12 col-sm-12 col-xs-12">
         <h4>My Recent Designs</h4>
            <div ng-repeat="cdes in customizedEarrings" class="product-grid" style="width: auto">
               <div class="custom-img">
                  <img ng-src="../productImages/{{ cdes.imgName }}"/>
               </div>
               <div class="product-info">
                  <span class="item_price">Price: &#8377; {{ cdes.price }}</span>
                  <button ng-if="!isAgent" type="button" class="add-cart item_add" onclick="addToCart();">Add To Cart</button>
               </div>
            </div>
         </div>
      </div>



      </div>
         <!-- end of cloak -->
   </div>
   <!-- controller ends-->
</div>
<!--topmost  div ends -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">


    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Your Personalized <span id='earringType'></span></h4>
      </div>
      <div class="modal-body">
         <input type='hidden' name='pid'  value="" />
         <input type='hidden' name='pprice'  value="" />
        <p>Here is your Earring. Add to cart to buy this design. you can also find this and all your custom designs on your My Design page.</p>
       <img id="cimg" src='' />
        <p style="font-size: 25px;"> Price: &#8377; <span id="pr_price"></span></p>
      </div>
      <div class="modal-footer">
         <button onclick="openfb()"><img src="images/i1a.png" alt="">Share</button>
        <button ng-if="!isAgent" type="button" class="btn btn-default" onclick="addToCart();">Add To Cart</button>
        <button ng-if= "isAgent" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>