<div ng-app="cdesign">
<h2 class="page-header">Design Product</h2>

<div class="container" ng-controller="MainController">
<div class="row">
	<div class="col-md-4">
		<div class="bgProduct">
			<div class="designDiv">
					<!-- ng-class="{current: $index==designLevel}" -->
				<!-- <div class="prd_elements elements{{$index}}" ng-repeat="imgItem in myProductImgs track by $index" prd-position selected-items="mySelectedItems" design-level="designLevel" img-item="imgItem" elem-number="$index" prd-index="prdIndex">
					<img  ng-src="/plumms/productImages/{{imgItem}}" />
				</div> -->
				<div class="prd_elements elements{{$index}}" ng-repeat="imgItem in mySelectedItems track by $index" prd-position selected-item="imgItem">
					<img  ng-src="/plumms/productImages/{{imgItem.selectedImage}}" />
				</div>
			</div>
		</div>
		<div class="designOptions">
			<div class="aelements" ng-repeat="altItem in mySelectedItems[designLevel].images">
				<img ng-src="/plumms/productImages/{{altItem.imagefile}}"  ng-click="selectImage(altItem.imagefile, $index, false);" />
			</div>
		</div>
	</div>
	<div class="col-md-8">
			<!-- main Options -->
		<div class="elements">
			<div ng-if="filteredSet.length == 0">
				No Further Matching Elements Found.
			</div>
			<div class="felements" ng-repeat="imgElem in filteredSet | startFrom:currentPage*pageSize | limitTo:pageSize">
				<!-- {{ itemModel.selectedMaterial}} | {{tagFilterSelected}} -->
				<img ng-src="/plumms/productImages/{{imgElem.carouselImg}}" alt="" ng-click="selectImage(imgElem, $index, true);">
			</div>
			<div style="clear:both"></div>
			<button class="e-control left" ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1" >
		        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		      </button>
			<button class="e-control right" ng-hide="currentPage >= filteredSet.length/pageSize - 1" ng-click="currentPage=currentPage+1"  >
		        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	      	</button>
		</div>

		<div ng-if="mySelectedItems.length > 0">
			<button ng-hide="filteredSet.length == 0" class="btn btn-primary" ng-click="confirmDesign()">Confirm!!</button> &nbsp; &nbsp;
			<button ng-hide="filteredSet.length == 0" ng-disabled="!levelFilled" class="btn btn-primary" ng-click="updateLevel()">Go Next Level!!</button> &nbsp; &nbsp;
			<button ng-if="myProductImgs.length > 1"  class="btn btn-primary" ng-click="gobackLevel()">Previous Level</button>
		</div>
	</div>
</div> <!-- row ends -->

<div class="row">

</div>

</div><!-- container ends -->

</div><!--topmost  div ends -->