    /* header nav styles */

/*

@media only screen and (max-width: 599px)
article.item.read-full .item-body:after {
    z-index: 1;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 200px;
    border-bottom: 35px solid #f9f9f9;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(249,249,249,0)),color-stop(100%,#f9f9f9));
    background: -webkit-linear-gradient(top,rgba(249,249,249,0) 0,#f9f9f9 100%);
    background: -o-linear-gradient(top,rgba(249,249,249,0) 0,#f9f9f9 100%);
    background: -ms-linear-gradient(top,rgba(249,249,249,0) 0,#f9f9f9 100%);
    background: linear-gradient(to bottom,rgba(249,249,249,0) 0,#f9f9f9 100%);
}

*/

.navbar-default.homepage {
    background-color: transparent;
    border-bottom: 1px solid transparent;
}
.navbar {
        -webkit-transition: background 0.4s ease-in-out, border-bottom 1.6s ease-in-out;
        -moz-transition: background 0.4s ease-in-out, border-bottom 1.6s ease-in-out;
        transition: background 0.4s ease-in-out, border-bottom 1.6s ease-in-out;
}
.navbar-right {
     -webkit-transition: margin-right 1.4s ease-in-out;
        -moz-transition: margin-right 1.4s ease-in-out;
        transition: margin-right 1.4s ease-in-out;
}

.homepage.top-nav-collapse {
    background-color: #eeeaea;
    border-bottom: 1px solid #ddd;
}

.homepage.top-nav-collapse .navbar-right {
    margin-right: 0;
}

.homepage .navbar-right {
    margin-right: 270px;
}
.dropdown-menu > li {
    margin: 5px 0;
}
.dropdown-menu > li span {
    padding-right: 14px;
}
.dropdown.open {
    background-color: #fff8f4;
    border-radius: 4px 4px 0px 0px;
}
.dropdown.open > a:hover {
    border: 1px solid transparent;
}

#loginbox, #cartbox {
    min-width: 300px;
    border-top-left-radius: 4px;
}

#cartbox p {
    display: flex;

}
#cartbox p span {
    flex: 1;
}
#cartbox hr {
    margin: 0;
    margin-bottom: 10px;
}
.simpleCart_total, .cartbtn {
    text-align: right;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
    background-color: #fff8f4;
}

#loginform {
    position: relative;
}

#loginform +p {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#loginform span {
    position: absolute;
    right: 0px;
    bottom: 2px;
}

#submitfield {
    position: relative;
}

#submitfield span {
    position: absolute;
    left: 80px;
    bottom: -3px;
}
/* header nav style ends */


.pageContainer {
    padding-top: 70px;
}

.dropdown-menu .list img {
    width: 27px;
    background-color: #8e5918;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: bottom;
}
/* register page */
#regForm {width: 40%; margin-bottom: 20px;}

/* banner and co-create section */
.banner3 {
  background: url(../images/bg_z1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  /* background-color: #464646; */
  width: 100%;
  width: 100vw;
  height: 650px;
  height: 100vh;
  position: relative;
}
.banner4 {
  background: url(../images/bg_z2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-color: #464646;
  width: 100%;
  width: 100vw;
  height: 650px;
  height: 75vh;
  position: relative;
}


.banner1 {
  background: url(../images/bg_z3.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  width: 100%;
  width: 100vw;
  height: 650px;
  height: 100vh;
  position: relative;
}

.banner2 {
  background: url(../images/bg_z4.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 77% 100%;
  width: 100%;
  width: 100vw;
  /* height: 650px; */
  height: 90vh;
  position: relative;
}

.banner5 {
  background: url(../images/bg_z5.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  width: 100%;
  width: 100vw;
  min-height: 650px;
  height: 90vh;
  position: relative;
}

.banner {
  background: url(../images/bg_z5b.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  /* width: 100%; */
  width: 100vw;
  height: 650px;
  /* border: 1px solid; */
  height: 90vh;
  position: relative;
}
.banner_content {
    width: 300px;
    width: 23vw;
    position: absolute;
    top: 25%;
    font-size: 1.4vw;
    left: 13%;
    /* color: #fff; */
}
.banner_content h3 {
    color: #8e5918;
    margin-top: 0px;
    font-size: 27px;
    font-size: 2vw;
}

.featured {
    margin-top: 5px;
}

.cocreate{
    /* background:url(../images/noise.png) repeat-x; */
    background-color: transparent;
    text-align: left;
    /* margin-top: 290px; */
    padding: 0em;
    transform: translateY(-50%);
    position: absolute;
    top: 73%;
    width: 58vw;
}

.cocreate img {
    background: #8f582c;
    width: 98%;
    border-radius: 50%;
    margin: 12% 0 0;
}
.cocreate .icon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cocreate a:hover, .cocreate a:focus {
    text-decoration: none;
}
.cocreate a:hover  +p{
    visibility: visible;
     color: #fff;
}
.cocreate p {
    visibility:hidden;
    font-size: 0.9em;
    margin: 0;
}

.cocreate .co-icons {
    text-align: center;
}

.cocreate .co-icons .icon {
    font-size: 5.5em;
    color: #fff;
    background-color: #8f582c;
    height: 120px;
    border-radius: 50%;
    width: 120px;
    margin-top: 12%;
}

.co_content {
    font-size: 16px;
    padding-top: 16px;
    font-size: 1.3vw;
}
.co_content h4 {
    margin-bottom:  0;
    font-size: 2vw;
}

/* productlist */
.productlist h3 {
    margin-bottom: 5px;
    color:#d78b2e;
}


/* products */
.products {
    /* margin-top: 130px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.product-card {
    flex: 0 1 20%;
    margin: 6px 22px 15px 0px;
    border: 1px solid #f9f9f9;
    background-color: #FFF;
    border-radius: 8px;
}

.product-card .btn {padding: 2px 6px;margin-top: 6px;}

.product-image img {
    width: 100%;
}

.product-info {
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
    background-color: #eeeaea;
    padding: 5px 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.product-info .details {
    /* display: flex; */
    justify-content: space-between;
}

.product-image {
    height: 185px;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
}


.product-info p {
    margin: 0;
    padding: 5px 1px;
    text-align: left;
    color: #3d3d3d;
    font-size: 0.8em;
    line-height: 1;
    /* min-height: 29px; */
    font-weight: bold;
    vertical-align: top;
    /* flex: 1; */
    word-wrap: break-word;
}
.product-info p.pr-name {
    text-transform: capitalize;
    text-align: left;
    color: #8e5918;
    font-size: 1em;
}

.product-info p.pr-price {
    /* text-align: right; */
}
.product-info.search h6 {
    margin: 5px;
    font-weight: bold;
    text-transform: capitalize;
}



.product-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-image img {
    width:auto;
    height: 100%;
    border: none;
}

/* productbox */
.productbox {
    border: none;
    border-radius: 8px;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    margin-top: 10px;
    /* box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-bottom: 5px;
}

.productbox .productimg {
    height: 185px;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
}

.productbox  .pr-info {
    background-color: #eeeaea;
    padding: 5px 10px;
    box-shadow: 2px 1px 14px 0px rgba(0,0,0,0.3);
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    display: flex;
    border-radius: 4px;
    /*margin-bottom: 10px;*/
}

.productbox  .pr-info p {
    margin: 0;
    padding: 5px 1px;
    text-align: right;
    flex: 1;
    color: #d78b2e;
    height: 40px;
    font-size: 0.8em;
    line-height: 1;
    vertical-align: top;
    display: table-cell;
    word-wrap: break-word;
}
.productbox  .pr-info p.pr-name {
    text-transform: capitalize;
    text-align: left;
}



.productbox:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.productbox img {
    width:auto;
    height: 100%;
    border: none;
}

/* video wrapper */
.video_modal {
    border-bottom: none;
    padding: 5px 15px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 20px; /* 16:9 */
    padding-top: 25px;
    height: 350px;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    /* height: 50%; */
}


.shadowed {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.3));
    filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.3));
}


/*--footer--*/
.footer {
    padding: 2.5em 0;
    background-color: #f2f6f7;
}
.footer-grid h4 {
    text-transform: uppercase;
    color: #F07818;
    margin-bottom: 1em;
}
.footer-grid ul {
    padding-left: 0px;
}
.footer-grid ul li {
    list-style: none;
    margin-bottom: 3px;
    text-align: left;
    color: #999;
}
.footer-grid ul li a:hover {
    color: #F07818;
}
.footer-grid ul li a {
    font-size: 1em;
    text-decoration: none;
    line-height: 2em;
    color: #999;
    list-style: none;
    text-transform: capitalize;
}
.footer-grid ul li a img {
    width: 16px;
    margin-right: 10px;
}
.footer-bottom {
    background-color: #eeeaea;
    padding: .5em 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 1em;
    color: #313131;
    line-height: 1.8em;
}
.footer-bottom p a {
    color: #F07818;
    margin-left: 6px;
}
.footer-bottom p a:hover {
    color: #fff;
    text-decoration: underline;
}
/*--//footer--