/*---- responsive-design -----*/

/* responsive for banner */
@media (max-width: 1280px){
    .banner {
    }
    .cocreate{

    }
    .banner_content {

    }
}
@media (max-width: 955px){
    .banner {
    }
    .cocreate{

    }
}
@media (max-width: 800px){
    .banner {
    }
    .cocreate{

    }
}
@media (max-width: 640px){
    .banner {
    }
    .cocreate{

    }
}
@media (max-width: 480px){
    .navbar-brand > img {
}
    .banner {
        background-size: 100%;
        background-position: right top;
        height: 41vh;
        border: 1px solid;
    }

    .banner_content {
        top: 30%;
        left: 18%;
    }
    .cocreate{
        padding: 0em 1.7em;
        top: 0;
    }
    .co_content {
        /* padding-left: 8em; */
    }
    .cocreate .co-icons {
    /* margin: 0 4%; */
    padding: 2px 11px;
    }
    .cocreate .co-icons img {width: 100%;margin-left: 15px;}
}

/* nav responsive styles */
@media (max-width: 767px){
    .navbar-default .navbar-collapse {
         background-color:  #eeeaea;
         border: none;
    }
}

@media (max-width: 1024px){
    .navbar-default .navbar-nav > li > a {
        font-size: 0.9em;
    }
    .navbar-nav > li {
        padding-left: 0px;
        padding-right: 0px;
    }
    .homepage .navbar-right {
        margin-right: 230px;
    }
    .homepage.top-nav-collapse .navbar-right {
        margin-right: 0;
    }
}

/* productbox responsive styles */
@media ( max-width: 600px ) {
    .product-card {
        flex: 1 46%;
    }

}

@media (max-width: 991px){
    .product-image .pr-view {
        padding: 5px 20px;
    }
    .homepage .navbar-right {
        margin-right: 190px;
    }
    .homepage.top-nav-collapse .navbar-right {
        margin-right: 0;
    }
}