<div class="pageContainer" ng-app="productsearch">
	<div ng-controller="MainController" >
		<div class="container">
			<section class="filters">
		<center><h2>Our Earring Collection</h2> </center>

				<div class="filterpanel">
					<a href="javascript:void(0)" ng-click="toggleFilter()"><i class="fa fa-sliders"></i> &nbsp;{{visibleFilter ? "Show" : "Hide"}} Filters</a>
					<section class="pull-right">
							Sort By: <select  ng-change="orderByOptions()"  ng-model="selectedSort" >
								<option value="new">Latest Designs</option>
								<option value="phigh">Price:High to Low</option>
								<option value="plow">Price:Low to High</option>
								<!-- <option value="pop">Most Popular</option>
								<option value="disc">Highest Discount</option> -->
							</select>
						</section>
						<div class="clearfix"></div>
				</div>
				<div class="filterOptions" filter-slide="!visibleFilter" slide-duration="2000">
					<form>
						<div class="row">
							<div class="col-lg-4">
								<section ng-if="isAgent"  class="sky-form agent">
									<h4>Customized</h4>
										 <label>
							                <input type="radio" name="prdCustom" value="1" class="rdbtn" ng-model="prdStatus.custom">
							                Yes
							            </label>
							            <label>
							                <input type="radio" name="prdCustom" value="0" class="rdbtn" ng-model="prdStatus.custom">
							                No
							            </label>
							            <label>
							                <input type="radio" name="prdCustom" value="" class="rdbtn" ng-model="prdStatus.custom">
							                All
							            </label>
								</section>
							</div>
							<div class="col-lg-4">
								<section ng-if="isAgent"  class="sky-form agent">
									<h4>Designer's Pick</h4>
										 <label>
							                <input type="radio" name="dpick" value="1" class="rdbtn" ng-model="prdStatus.despick">
							                Yes
							            </label>
							            <label>
							                <input type="radio" name="dpick" value="0" class="rdbtn" ng-model="prdStatus.despick">
							                No
							            </label>
							            <label>
							                <input type="radio" name="dpick" value="" class="rdbtn" ng-model="prdStatus.despick">
							                All
							            </label>
								</section>
							</div>
							<div class="col-lg-4">
								<section ng-if="isAgent"  class="sky-form agent">
									<h4>Status</h4>
										 <label>
							                <input type="radio" name="pstatus" value="1" class="rdbtn" ng-model="prdStatus.active">
							                Active
							            </label>
							            <label>
							                <input type="radio" name="pstatus" value="0" class="rdbtn" ng-model="prdStatus.active">
							                InActive
							            </label>
							            <label>
							                <input type="radio" name="pstatus" value="" class="rdbtn" ng-model="prdStatus.active">
							                All
							            </label>
								</section>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-2 col-sm-4 col-xs-12">
								<section  class="sky-form">
									<h4 class="m_2">Style</h4>
									<div class="row  scroll-pane">
										<div class="col col-4">
											<label ng-repeat="sty in styles" class="checkbox">
												  <input type="checkbox"  ng-checked="selectedStyles.indexOf(sty) > -1" ng-click="toggleStyleSelection(sty)"> <i></i>{{sty}}
											</label>
										</div>
									</div>
								</section>
							</div>
							<div class="col-lg-2 col-sm-4 col-xs-12">
								<section  class="sky-form">
									<h4 class="m_2">Tags</h4>
									<div class="row  scroll-pane">
										<div class="col col-4">
											<label ng-repeat="tag in tags" class="checkbox">
												  <input type="checkbox"  ng-checked="selectedTags.indexOf(tag) > -1" ng-click="toggleTagSelection(tag)"> <i></i>{{tag}}
											</label>
										</div>
									</div>
								</section>
							</div>
							<div class="col-lg-2 col-sm-4 col-xs-12">
								<section  class="sky-form">
									<h4 class="m_2">Material</h4>
									<div class="row  scroll-pane">
										<div class="col col-4">
											<label ng-repeat="mat in materials" class="checkbox">
												  <input type="checkbox"  ng-checked="selectedMaterial.indexOf($index+1) > -1" ng-click="toggleSelection($index+1)"> <i></i>{{mat}}
											</label>
										</div>
									</div>
								</section>
							</div>
							<div class="col-lg-2 col-sm-4 col-xs-12">
								<section  class="sky-form">
									<h4>Price</h4>
											<rzslider rz-slider-model="priceSlider.min" rz-slider-high="priceSlider.max" rz-slider-options="priceSlider.options" ></rzslider>
								</section>
							</div>
							<!-- <div class="col-lg-2 col-sm-6 col-xs-12">
								<section  class="sky-form">
									<h4 class="m_2">Category</h4>
									<div class="row row1 scroll-pane">
										<div class="col col-4">
											<label ng-repeat="itm in items" class="checkbox">
												  <input type="checkbox"  ng-checked="selectedItem.indexOf($index+1) > -1" ng-click="toggleItemSelection($index+1)"> <i></i>{{itm}}
											</label>
										</div>
									</div>
								</section>
							</div> -->
							<div class="col-lg-4 hidden-xs"></div>
						</div>
					</form>
				</div>
				<div class="filtertags">
					<ul class="list-inline">
						<li ng-repeat="itt in selectedTags"><h6><span class="label label-default">{{itt}}</span></h6></li>
						<li ng-repeat="iss in selectedStyles"><h6> <span class="label label-default">
						{{iss}}</span></h6></li>
						<li ng-repeat="imm in selectedMaterial"><h6> <span class="label label-default">
						{{materials[imm-1]}}</span></h6></li>
						<li><h6> <span class="label label-default">Min Price: &#8377{{priceSlider.min}}</span></h6></li>
						<li><h6> <span class="label label-default">Max Price: &#8377{{priceSlider.max}}</span></h6></li>

					</ul>


				</div>

			</section>

			<br><br>

			<section class="products" style="margin-top:135px;">
				<!-- <div class="product-card" ng-repeat="product in resultSet = (allProducts | startFrom:currentPage*pageSize | limitTo:pageSize )"> -->
				<!-- {{currentPage}} {{pageSize}}  {{$index}} {{product['productid']}} -->

				<div class="product-card" ng-repeat="product in resultSet =(allProducts | orderBy:sortItem:reverseorder | filter:criterias) | startFrom:(currentPage-1)*pageSize | limitTo:pageSize ">
					<div class="product-image">
						<a target="_self" ng-href="{{siteUrl}}index.php?single&amp;id={{product['productid']}}">
							<img  class="shadowed" ng-src="{{siteUrl}}productImages/{{product['mainimg']}}" />
						</a>
					</div>
					<div class="product-info search">
						<div class="details">
								<p class="pr-name">{{product['name']}}</p>

								<p class="pr-price">{{product['price'] | mathround | currency:"&#8377":2}}</p>
						</div>
						<div class="pr_action">
							<a ng-if="isAgent" target="_self" ng-href="{{siteUrl}}admin/dashboard.php?product&amp;id={{product['productid']}}" class="item_add items">Edit</a>
						</div>
					</div>
				</div>
			</section>


		</div>

		<div class="container">
			<ul uib-pagination boundary-links="true" total-items="resultSet.length" ng-model="currentPage" items-per-page="pageSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
		</div>
	</div>

</div>