

form .error {
    color: #c00;
}

form label.error {
    color: #c00;
    font-size: 100%;
    font-weight: bold;
    font-variant: small-caps;
    width: 308px;
    display: none;
    margin: 8px 0px 8px 0px;
    padding: 3px 0px 0px 5px;
    clear: both;
}

form label.info {
    font-size: 100%;
    font-weight: bold;
    font-variant: small-caps;
    margin: 8px 0px 0px 180px;
    padding: 3px 0px 0px 5px;
}


/* user image section */
.user-section {
    font-size:14px;
}
.user-section-inner {
overflow: hidden;
display: inline-block;
float: left;
padding: 10px 10px 0px 5px;
}

.user-info {
    color: #000!important;
    display: inline-block;
    padding: 15px 10px 0px 10px;
    margin-bottom: 0px;
    width: 170px;
}
.user-text-online {
    font-size:18px;
    color:#fff
}
.user-circle-online {
    width: 15px!important;
    height: 15px!important;
}

/* side-menu section */
.nav > li > a:hover, .nav > li > a:focus {
    background-color:rgba(74, 72, 126, 0);
}
.navbar-top-links  .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #75C5B8;
}
.navbar-top-links > li > a {
color: #FFFFFF;
}
.nav > li > a {
padding: 20px 15px;
}

.selected {
    background-color:#F07818;
}

  /* No border */
.no-boder {
    border:0px solid #5bc0de !important;
}
/* tap nvbar Section */

#navbar {
    background-color: #5D4B33;
}

h1.navbar-brand {
    font-size: 3em;
    font-family: 'Marvel-Regular';
    padding-left:50px;

}

h1.navbar-brand a {
    color: #fff;
    padding: 0.2em 0;
}

.navbar-brand img {
    height:60px;
}
.top-label {
    position: absolute;
top: 50%;
right: 50%;
margin-top: -24px;
margin-right: -24px;
}

/*large font*/
.large-font {
    font-size:18px;
}

.body-Login-back {
    background-color:#EEFDF4;
}

.margin-tips {
    margin:5px;
}
.navbar-default {
border-color: #27A6BE;
margin-bottom: 0px;
}
/*media queries*/

@media(min-width:768px)
{
    #page-wrapper {
        position: inherit;
        min-height: 1000px;
    }

}

@media(max-width:768px) {
#wrapper {
    margin-top:140px!important;
}
}